<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30_02_baodao.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,794},{198,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,73}}</string>
                <key>sourceSize</key>
                <string>{200,77}</string>
            </dict>
            <key>30_02_baozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{200,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,175}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>30_02_baozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{200,171}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,171}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>30_02_baozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,794},{198,173}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,173}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>30_02_baozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,204},{192,171}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{192,171}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>30_02_baozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,398},{194,155}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{194,155}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>30_02_baozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{162,155}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{162,155}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>30_02_daoguang _01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,269}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{316,269}}</string>
                <key>sourceSize</key>
                <string>{330,279}</string>
            </dict>
            <key>30_02_daoguang _02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{316,209}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{316,209}}</string>
                <key>sourceSize</key>
                <string>{330,279}</string>
            </dict>
            <key>30_02_daoguang _03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{260,203}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,27},{260,203}}</string>
                <key>sourceSize</key>
                <string>{330,279}</string>
            </dict>
            <key>30_02_daoguang _04.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,594},{198,199}}</string>
                <key>offset</key>
                <string>{59,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,27},{198,199}}</string>
                <key>sourceSize</key>
                <string>{330,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>murongjianfa_feixing.png</string>
            <key>size</key>
            <string>{493,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69d779d34aae77f2845d023c8a851c38:1/1$</string>
            <key>textureFileName</key>
            <string>murongjianfa_feixing.png</string>
        </dict>
    </dict>
</plist>
