<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21_3_dbao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,214},{104,134}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{104,134}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>21_3_dbao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{172,106}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{172,106}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>21_3_dbao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{204,102}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>21_3_dbao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{154,96}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{154,96}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>21_3_dbao_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,320},{132,98}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{132,98}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianmo_feixing_mingzhong.png</string>
            <key>size</key>
            <string>{236,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:417493a629d86398125721f8487c4ce2:1/1$</string>
            <key>textureFileName</key>
            <string>jianmo_feixing_mingzhong.png</string>
        </dict>
    </dict>
</plist>
