<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slc_loop_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{274,304}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>slc_loop_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{272,304}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{272,304}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>slc_loop_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{270,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{270,304}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>slc_loop_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,308},{272,304}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{272,304}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>slc_loop_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{272,304}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{272,304}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>slc_loop_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,614},{272,302}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{272,302}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shilianchou_xunhuan.png</string>
            <key>size</key>
            <string>{550,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74a4add0ff4fd7519a8a242400e96795:1/1$</string>
            <key>textureFileName</key>
            <string>shilianchou_xunhuan.png</string>
        </dict>
    </dict>
</plist>
