<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kongmingquan_baozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,130},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{130,128}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>kongmingquan_baozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{148,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{148,126}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>kongmingquan_baozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{154,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,136}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>kongmingquan_baozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,140}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kongmingquan_mingzhong.png</string>
            <key>size</key>
            <string>{432,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6794a371cfdd3d96dcb348126acabab:1/1$</string>
            <key>textureFileName</key>
            <string>kongmingquan_mingzhong.png</string>
        </dict>
    </dict>
</plist>
