<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaotidonghua_baodian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{254,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{254,192}}</string>
                <key>sourceSize</key>
                <string>{254,194}</string>
            </dict>
            <key>biaotidonghua_baodian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,209},{230,188}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{230,188}}</string>
                <key>sourceSize</key>
                <string>{254,194}</string>
            </dict>
            <key>biaotidonghua_baodian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{218,186}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{218,186}}</string>
                <key>sourceSize</key>
                <string>{254,194}</string>
            </dict>
            <key>biaotidonghua_baodian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,190},{216,186}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{216,186}}</string>
                <key>sourceSize</key>
                <string>{254,194}</string>
            </dict>
            <key>biaotizitixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rexueqzhuanbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,205}}</string>
                <key>sourceSize</key>
                <string>{406,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiemian_biaotidonghua.png</string>
            <key>size</key>
            <string>{636,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffdcf6aeca36c9eb272d0b726e1ce95e:1/1$</string>
            <key>textureFileName</key>
            <string>jiemian_biaotidonghua.png</string>
        </dict>
    </dict>
</plist>
