<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>114_03_baodian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,192}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,192}}</string>
                <key>sourceSize</key>
                <string>{254,194}</string>
            </dict>
            <key>114_03_baodian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{222,188}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{222,188}}</string>
                <key>sourceSize</key>
                <string>{254,194}</string>
            </dict>
            <key>114_03_baodian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{218,186}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{218,186}}</string>
                <key>sourceSize</key>
                <string>{254,194}</string>
            </dict>
            <key>114_03_baodian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,196},{216,186}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{216,186}}</string>
                <key>sourceSize</key>
                <string>{254,194}</string>
            </dict>
            <key>114_03_zhongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,192},{180,111}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{180,111}}</string>
                <key>sourceSize</key>
                <string>{200,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liumaishenjian_mingzhong.png</string>
            <key>size</key>
            <string>{491,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed8afa372049e190ee211cc80a7fe6db:1/1$</string>
            <key>textureFileName</key>
            <string>liumaishenjian_mingzhong.png</string>
        </dict>
    </dict>
</plist>
