<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>87_01_huaguoduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,260},{80,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>87_01_mantuohuayu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{182,142}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{182,142}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{206,152}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{206,152}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{202,160}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,160}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{210,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,160}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,160}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{178,160}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{178,160}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,206},{192,144}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{192,144}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,210},{146,144}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,214},{144,138}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{144,138}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,210},{146,144}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{144,144}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>87_01_mantuohuayu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,148},{144,110}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{144,110}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mantuohuayu_qishou.png</string>
            <key>size</key>
            <string>{964,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b6d1345d08b9eb712aafd237ecb1da4:1/1$</string>
            <key>textureFileName</key>
            <string>mantuohuayu_qishou.png</string>
        </dict>
    </dict>
</plist>
