<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liuyingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,110}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>liuyingquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{100,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{100,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>liuyingxinxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,114},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liuying.png</string>
            <key>size</key>
            <string>{170,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd7d8d98348383dc5e3f3057f34fe6c1:1/1$</string>
            <key>textureFileName</key>
            <string>liuying.png</string>
        </dict>
    </dict>
</plist>
