<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>60_3_bao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{142,130}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>60_3_bao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,134},{150,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,130}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>60_3_bao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{150,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,130}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>60_3_bao_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{150,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,130}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anranxiaohunzhang_mingzhong.png</string>
            <key>size</key>
            <string>{306,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee59c986b996802624200462f7b0b54e:1/1$</string>
            <key>textureFileName</key>
            <string>anranxiaohunzhang_mingzhong.png</string>
        </dict>
    </dict>
</plist>
