<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanlongbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>yanlongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,129}</string>
            </dict>
            <key>yanlonghuoqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,133},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yanlongxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanlong.png</string>
            <key>size</key>
            <string>{255,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e2f631670d44276c671598f68dab859:1/1$</string>
            <key>textureFileName</key>
            <string>yanlong.png</string>
        </dict>
    </dict>
</plist>
