<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanren_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{164,174}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,102},{164,174}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>huanren_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,222},{164,184}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,92},{164,184}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>huanren_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,168},{166,202}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,74},{166,202}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>huanren_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,222}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,54},{172,222}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>huanren_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{182,218}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,58},{182,218}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>huanren_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{188,218}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,58},{188,218}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>huanren_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,372},{122,152}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,42},{122,152}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>huanren_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,408},{102,150}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{102,150}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huanren.png</string>
            <key>size</key>
            <string>{536,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdfc5d1d17c4f3fca5dab3b7d0b6ff5a:1/1$</string>
            <key>textureFileName</key>
            <string>huanren.png</string>
        </dict>
    </dict>
</plist>
