<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianzhijuqing_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{353,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,46}}</string>
                <key>sourceSize</key>
                <string>{353,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianzhijuqing_zi1.png</string>
            <key>size</key>
            <string>{357,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26b531cd54aa125820bf62b8e8a54a02:1/1$</string>
            <key>textureFileName</key>
            <string>qianzhijuqing_zi1.png</string>
        </dict>
    </dict>
</plist>
