<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>110_01_baodian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>110_01_baodian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,146},{198,142}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,142}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>110_01_baodian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{198,142}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,142}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>110_01_baodian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{198,142}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,142}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yunvshijiujian_mingzhong.png</string>
            <key>size</key>
            <string>{492,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61bdb56f1d54c6b360afeaae4c0d8aae:1/1$</string>
            <key>textureFileName</key>
            <string>yunvshijiujian_mingzhong.png</string>
        </dict>
    </dict>
</plist>
