<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dzxy_qiu_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,218},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_qiu_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,110},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_qiu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,336},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_qiu_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,326},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_qiu_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_qiu_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,114},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_qiu_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_qiu_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_qiu_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,226},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_qiu_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dzxy_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>dzxy_ye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>douzhuanxingyi_mingzhong.png</string>
            <key>size</key>
            <string>{408,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d4427bb0f45754e259c4d2a790c5743:1/1$</string>
            <key>textureFileName</key>
            <string>douzhuanxingyi_mingzhong.png</string>
        </dict>
    </dict>
</plist>
