<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hei 3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,792},{146,158}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,172},{146,158}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,216},{130,164}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,176},{130,164}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{168,212}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,137},{168,212}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,590},{174,200}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,164},{174,200}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,348},{192,240}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,159},{192,240}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{212,276}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,142},{212,276}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,668},{188,296}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,144},{188,296}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,336},{194,312}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,152},{194,312}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{208,332}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,153},{208,332}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,344}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,156},{214,344}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{208,338}}</string>
                <key>offset</key>
                <string>{7,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,161},{208,338}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{196,328}}</string>
                <key>offset</key>
                <string>{1,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,169},{196,328}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,348},{192,318}}</string>
                <key>offset</key>
                <string>{3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,182},{192,318}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
            <key>hei 3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,650},{200,298}}</string>
                <key>offset</key>
                <string>{10,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,197},{200,298}}</string>
                <key>sourceSize</key>
                <string>{250,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fubenkaiqi.png</string>
            <key>size</key>
            <string>{799,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1536cb742867e5fac0eec866c419e10f:1/1$</string>
            <key>textureFileName</key>
            <string>fubenkaiqi.png</string>
        </dict>
    </dict>
</plist>
