<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengji_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fengji_hen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{90,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,16}}</string>
                <key>sourceSize</key>
                <string>{90,22}</string>
            </dict>
            <key>fengji_ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengji_buff.png</string>
            <key>size</key>
            <string>{128,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:843bfd67b70d3b5cc99ef5f1c0434570:1/1$</string>
            <key>textureFileName</key>
            <string>fengji_buff.png</string>
        </dict>
    </dict>
</plist>
