<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninbaile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{261,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{261,94}}</string>
                <key>sourceSize</key>
                <string>{261,98}</string>
            </dict>
            <key>wakaka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{265,94}}</string>
                <key>sourceSize</key>
                <string>{265,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiquan_shibai.png</string>
            <key>size</key>
            <string>{269,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94567c852b2eaf399482c8b10fa55820:1/1$</string>
            <key>textureFileName</key>
            <string>caiquan_shibai.png</string>
        </dict>
    </dict>
</plist>
