<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_3_bao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,165}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{179,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>7_3_bao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{179,157}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{179,157}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>7_3_bao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{179,147}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{179,147}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>7_3_bao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,151},{125,121}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{125,121}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emeijianfa_mingzhong.png</string>
            <key>size</key>
            <string>{509,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d165b6af89c3f329d5441d878b73d3b:1/1$</string>
            <key>textureFileName</key>
            <string>emeijianfa_mingzhong.png</string>
        </dict>
    </dict>
</plist>
