<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiangdakaiguangxiao_xunhuan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{188,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{188,186}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>baoxiangdakaiguangxiao_xunhuan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{188,186}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>baoxiangdakaiguangxiao_xunhuan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{186,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{186,186}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>baoxiangdakaiguangxiao_xunhuan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{186,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{186,184}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoxiangdakaiguangxiao_xunhuan.png</string>
            <key>size</key>
            <string>{190,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0874b080ffc41bcd185873c1517bd980:1/1$</string>
            <key>textureFileName</key>
            <string>baoxiangdakaiguangxiao_xunhuan.png</string>
        </dict>
    </dict>
</plist>
