frameworks/runtime-src/proj.win32/.vs/
frameworks/runtime-src/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/Release.win32/
simulator/win32
publish/
**/*.obj
**/*.log
**/*.tlog
**/*.pch
**/*.idb
**/*.pdb
**/*.prefs
**/*.user
