<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>73_3_bingbao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{166,150}}</string>
                <key>offset</key>
                <string>{11,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,85},{166,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>73_3_bingbao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,170},{224,216}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{224,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>73_3_bingbao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,396},{228,214}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{228,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>73_3_bingbao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{228,224}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{228,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>73_3_bingbao_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{228,158}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,83},{228,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>73_3_bingbao_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{228,158}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,83},{228,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>73_3_bingzhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,298}}</string>
                <key>sourceSize</key>
                <string>{128,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hanbingmianzhang_mingzhong.png</string>
            <key>size</key>
            <string>{454,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4730d6df8a5a7c065259f757e14176:1/1$</string>
            <key>textureFileName</key>
            <string>hanbingmianzhang_mingzhong.png</string>
        </dict>
    </dict>
</plist>
