<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xkjj_qishou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,460},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xkjj_qishou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,460},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xkjj_qishou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{468,456}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{468,456}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xkjj_qishou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,500}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{496,500}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiakejinjie_qishou.png</string>
            <key>size</key>
            <string>{970,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e581c1ad039da3c42926fbc65c55c15:1/1$</string>
            <key>textureFileName</key>
            <string>xiakejinjie_qishou.png</string>
        </dict>
    </dict>
</plist>
