<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoubinanshanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>shoubinanshanlizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{83,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoubinanshan.png</string>
            <key>size</key>
            <string>{189,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c78ae93a52abdef38608d65c8c1cceb:1/1$</string>
            <key>textureFileName</key>
            <string>shoubinanshan.png</string>
        </dict>
    </dict>
</plist>
