<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siwang_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,132},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>siwang_shibie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,221}}</string>
                <key>sourceSize</key>
                <string>{178,221}</string>
            </dict>
            <key>siwang_xing_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>siwang_xing_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>siwang_xing_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,225},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>siwang_xing_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>siwang_xing_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,262},{126,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>siwang_xing_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{126,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>siwang_xing_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,355},{124,122}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>siwang_xing_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,392},{122,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{122,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>siwang_xing_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{118,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>siwang_qishou.png</string>
            <key>size</key>
            <string>{428,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9270a40087e6742b3eba2024b612be0c:1/1$</string>
            <key>textureFileName</key>
            <string>siwang_qishou.png</string>
        </dict>
    </dict>
</plist>
