<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>07_02_baodian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{240,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,180}}</string>
                <key>sourceSize</key>
                <string>{240,190}</string>
            </dict>
            <key>07_02_baodian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{240,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,188}}</string>
                <key>sourceSize</key>
                <string>{240,190}</string>
            </dict>
            <key>07_02_baodian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{240,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,188}}</string>
                <key>sourceSize</key>
                <string>{240,190}</string>
            </dict>
            <key>07_02_baodian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,188}}</string>
                <key>sourceSize</key>
                <string>{240,190}</string>
            </dict>
            <key>07_02_baodian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,244},{230,188}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{230,188}}</string>
                <key>sourceSize</key>
                <string>{240,190}</string>
            </dict>
            <key>07_02_baodian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,244},{200,178}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{200,178}}</string>
                <key>sourceSize</key>
                <string>{240,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heisuobianfa_mingzhong.png</string>
            <key>size</key>
            <string>{614,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d162522a495ec33d45389792d1478faf:1/1$</string>
            <key>textureFileName</key>
            <string>heisuobianfa_mingzhong.png</string>
        </dict>
    </dict>
</plist>
