<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fubenjiangli_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{116,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fubenjiangli_shanguang.png</string>
            <key>size</key>
            <string>{120,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9401e391a11253bd6aaa8a1a0464daa9:1/1$</string>
            <key>textureFileName</key>
            <string>fubenjiangli_shanguang.png</string>
        </dict>
    </dict>
</plist>
