<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>43_1_point_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>43_1_point_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>43_1_taiji_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,118},{110,78}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{110,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>43_1_taiji_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{108,110}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{108,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>43_1_taiji_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,106},{88,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{88,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>43_1_taiji_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,114},{84,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{84,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>43_1_taiji_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{102,88}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{102,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>43_1_taiji_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{82,84}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{82,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>43_1_taiji_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,118},{76,84}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{76,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>43_1_taiji_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{58,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taijijian_qishou.png</string>
            <key>size</key>
            <string>{494,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c5c75b54b3726ef4a21e165dfd88a7e:1/1$</string>
            <key>textureFileName</key>
            <string>taijijian_qishou.png</string>
        </dict>
    </dict>
</plist>
