<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ldwx_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,220}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,68},{464,220}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_dfy.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,224},{36,18}}</string>
                <key>offset</key>
                <string>{-57,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,119},{36,18}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,956},{64,58}}</string>
                <key>offset</key>
                <string>{200,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,109},{64,58}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,796},{68,82}}</string>
                <key>offset</key>
                <string>{202,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{504,80},{68,82}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,582},{118,82}}</string>
                <key>offset</key>
                <string>{172,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,77},{118,82}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,422},{158,76}}</string>
                <key>offset</key>
                <string>{138,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,78},{158,76}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1016},{158,54}}</string>
                <key>offset</key>
                <string>{126,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,79},{158,54}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{126,44}}</string>
                <key>offset</key>
                <string>{84,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,80},{126,44}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,130},{80,44}}</string>
                <key>offset</key>
                <string>{49,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,88},{80,44}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,386},{78,34}}</string>
                <key>offset</key>
                <string>{177,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,145},{78,34}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,866},{88,76}}</string>
                <key>offset</key>
                <string>{191,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,147},{88,76}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,702},{92,82}}</string>
                <key>offset</key>
                <string>{189,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{479,165},{92,82}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{122,56}}</string>
                <key>offset</key>
                <string>{149,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,210},{122,56}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,212},{82,40}}</string>
                <key>offset</key>
                <string>{116,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,232},{82,40}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1134},{86,36}}</string>
                <key>offset</key>
                <string>{-53,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,90},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1224},{88,36}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,91},{88,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1134},{88,38}}</string>
                <key>offset</key>
                <string>{-54,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,89},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1224},{88,38}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,90},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1176},{88,38}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,90},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1176},{88,38}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,90},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,296},{88,38}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,90},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1134},{86,36}}</string>
                <key>offset</key>
                <string>{-53,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,92},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1134},{86,36}}</string>
                <key>offset</key>
                <string>{-52,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,92},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1222},{86,36}}</string>
                <key>offset</key>
                <string>{-52,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,92},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1134},{86,36}}</string>
                <key>offset</key>
                <string>{-53,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,91},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1134},{86,36}}</string>
                <key>offset</key>
                <string>{-53,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,91},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_point1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1134},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{84,88}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>wxdzs_sc_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1092},{428,178}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,70},{428,178}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{428,180}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,69},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,910},{428,180}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,70},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{428,180}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,71},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,366},{430,178}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,73},{430,178}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,728},{428,180}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,72},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{430,180}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,72},{430,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,184},{430,180}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,71},{430,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{428,180}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,70},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{430,180}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,69},{430,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,546},{428,180}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,69},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{428,180}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,68},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luandouwuxia_xunhuan.png</string>
            <key>size</key>
            <string>{946,1272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf1dd71a77329e96eea100baea821bec:1/1$</string>
            <key>textureFileName</key>
            <string>luandouwuxia_xunhuan.png</string>
        </dict>
    </dict>
</plist>
