<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fszs2_feng_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{165,124}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{165,124}}</string>
                <key>sourceSize</key>
                <string>{179,126}</string>
            </dict>
            <key>fszs2_feng_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{159,114}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{159,114}}</string>
                <key>sourceSize</key>
                <string>{179,126}</string>
            </dict>
            <key>fszs2_feng_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,114}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{167,114}}</string>
                <key>sourceSize</key>
                <string>{179,126}</string>
            </dict>
            <key>fszs2_shi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,58}</string>
            </dict>
            <key>fszs2_shi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,290},{76,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,99}}</string>
                <key>sourceSize</key>
                <string>{76,99}</string>
            </dict>
            <key>fszs2_xuanfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,391},{71,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,22}}</string>
                <key>sourceSize</key>
                <string>{73,24}</string>
            </dict>
            <key>fszs2_yc_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,391},{108,64}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,47},{108,64}}</string>
                <key>sourceSize</key>
                <string>{168,126}</string>
            </dict>
            <key>fszs2_yc_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{134,84}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,32},{134,84}}</string>
                <key>sourceSize</key>
                <string>{168,126}</string>
            </dict>
            <key>fszs2_yc_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,138},{150,92}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{150,92}}</string>
                <key>sourceSize</key>
                <string>{168,126}</string>
            </dict>
            <key>fszs2_yc_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{158,100}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{158,100}}</string>
                <key>sourceSize</key>
                <string>{168,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feishazoushi2_feixing.png</string>
            <key>size</key>
            <string>{263,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b21e036074b5f4d1dadc9d1bb8b10ebf:1/1$</string>
            <key>textureFileName</key>
            <string>feishazoushi2_feixing.png</string>
        </dict>
    </dict>
</plist>
