<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinzhan_mz_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,132}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,25},{163,132}}</string>
                <key>sourceSize</key>
                <string>{193,188}</string>
            </dict>
            <key>jinzhan_mz_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{153,154}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{153,154}}</string>
                <key>sourceSize</key>
                <string>{193,188}</string>
            </dict>
            <key>jinzhan_mz_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{149,138}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{149,138}}</string>
                <key>sourceSize</key>
                <string>{193,188}</string>
            </dict>
            <key>jinzhan_mz_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{77,58}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,72},{77,58}}</string>
                <key>sourceSize</key>
                <string>{193,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinzhantongyongpugong_mingzhong.png</string>
            <key>size</key>
            <string>{491,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b152f1ad9faf871a7f7bd37546ac036:1/1$</string>
            <key>textureFileName</key>
            <string>jinzhantongyongpugong_mingzhong.png</string>
        </dict>
    </dict>
</plist>
