<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>132_3_lcfj_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,580},{210,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,57},{210,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>132_3_lcfj_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,580},{200,146}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,61},{200,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>132_3_lcfj_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{242,154}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,57},{242,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>132_3_lcfj_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{224,174}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{224,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>132_3_lcfj_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{256,162}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{256,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>132_3_lcfj_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,178}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{250,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>132_3_lcfj_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,334},{206,178}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{206,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>132_3_lcfj_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,358},{220,170}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,39},{220,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>132_3_lcfj_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{188,166}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,44},{188,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>132_3_lcfj_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,166},{220,166}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{220,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longchengfeijiang_mingzhong.png</string>
            <key>size</key>
            <string>{512,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d6180079c300ae1ad00c49f360c2c2d:1/1$</string>
            <key>textureFileName</key>
            <string>longchengfeijiang_mingzhong.png</string>
        </dict>
    </dict>
</plist>
