<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pzk_lv_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,52},{114,46}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,82},{114,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{110,54}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,74},{110,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,166},{94,64}}</string>
                <key>offset</key>
                <string>{-14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,64},{94,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,62},{84,72}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,56},{84,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,152},{72,82}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,46},{72,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,74},{68,92}}</string>
                <key>offset</key>
                <string>{-30,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{68,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{64,98}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{64,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{58,106}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{58,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{48,114}}</string>
                <key>offset</key>
                <string>{-39,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,136},{36,118}}</string>
                <key>offset</key>
                <string>{-45,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,92},{42,106}}</string>
                <key>offset</key>
                <string>{-40,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,166},{54,96}}</string>
                <key>offset</key>
                <string>{-36,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,168},{64,94}}</string>
                <key>offset</key>
                <string>{-32,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{70,94}}</string>
                <key>offset</key>
                <string>{-26,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,88}}</string>
                <key>offset</key>
                <string>{-21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{80,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{86,58}}</string>
                <key>offset</key>
                <string>{-17,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,68},{96,54}}</string>
                <key>offset</key>
                <string>{-13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,100},{104,50}}</string>
                <key>offset</key>
                <string>{-9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,124},{112,40}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{112,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pzk_lv_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,136},{120,36}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pinzhikuangliuguang_lv.png</string>
            <key>size</key>
            <string>{484,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a442b306617c665cac1ec27df244fade:1/1$</string>
            <key>textureFileName</key>
            <string>pinzhikuangliuguang_lv.png</string>
        </dict>
    </dict>
</plist>
