<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gedang_dunpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,214}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,214}}</string>
                <key>sourceSize</key>
                <string>{206,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gedang_buff.png</string>
            <key>size</key>
            <string>{202,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94ce91e31d0f3e5a4aa813e38fe3593a:1/1$</string>
            <key>textureFileName</key>
            <string>gedang_buff.png</string>
        </dict>
    </dict>
</plist>
