<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>98_01_baodian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,254}}</string>
                <key>sourceSize</key>
                <string>{62,254}</string>
            </dict>
            <key>98_01_xishou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>98_01_xishou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,66},{107,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,93}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>98_01_xishou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,161},{97,91}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{97,91}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>98_01_xishou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{77,67}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{77,67}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shixiangruanjinsan_qishou.png</string>
            <key>size</key>
            <string>{258,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8776d93005ba9c7bcc8df52a1f5e6a5a:1/1$</string>
            <key>textureFileName</key>
            <string>shixiangruanjinsan_qishou.png</string>
        </dict>
    </dict>
</plist>
