<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hyd_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{154,396}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{154,396}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>hyd_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,396}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{156,396}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>hyd_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{156,394}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{156,394}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoyandao_feixing.png</string>
            <key>size</key>
            <string>{474,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c07caa0afc235ad4800f769ee529aa8:1/1$</string>
            <key>textureFileName</key>
            <string>huoyandao_feixing.png</string>
        </dict>
    </dict>
</plist>
