<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lcfj_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,846},{182,124}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,121},{182,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lcfj_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,660},{208,184}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,54},{208,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lcfj_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{212,194}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{212,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lcfj_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,464},{212,194}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{212,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lcfj_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{214,216}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{214,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lcfj_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{224,202}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{224,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lcfj_3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,228},{234,208}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{234,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lcfj_3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{236,194}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,48},{236,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lcfj_3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,196}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,47},{238,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lcfj_3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{164,196}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{164,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longchengfeijiang2_mingzhong.png</string>
            <key>size</key>
            <string>{450,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfffea3e59ce3ae829cbc2edc7664683:1/1$</string>
            <key>textureFileName</key>
            <string>longchengfeijiang2_mingzhong.png</string>
        </dict>
    </dict>
</plist>
