<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sb_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,370}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{370,370}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>szt_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{248,274}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{248,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shizihou_feixing.png</string>
            <key>size</key>
            <string>{624,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ef9ec8a0bbf24a76dd65102ff6f96e:1/1$</string>
            <key>textureFileName</key>
            <string>shizihou_feixing.png</string>
        </dict>
    </dict>
</plist>
