<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhiyin_jian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{50,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,34},{50,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhiyin_jian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,26},{68,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dangqianguankatexiao_jiantou.png</string>
            <key>size</key>
            <string>{124,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44355b7d3b3ccce062bccae6404ad825:1/1$</string>
            <key>textureFileName</key>
            <string>dangqianguankatexiao_jiantou.png</string>
        </dict>
    </dict>
</plist>
