<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_3_bao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,303},{118,105}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{118,105}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>6_3_bao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{140,139}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{140,139}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>6_3_bao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{150,147}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>6_3_bao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,151}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dagoubangfa_nuqi_mingzhong.png</string>
            <key>size</key>
            <string>{250,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8254ddb2df4e03944db937fed8ce150:1/1$</string>
            <key>textureFileName</key>
            <string>dagoubangfa_nuqi_mingzhong.png</string>
        </dict>
    </dict>
</plist>
