<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>98_02_dabaozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,173}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>98_02_dabaozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{198,167}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,167}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>98_02_dabaozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,276},{194,169}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,169}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>98_02_dabaozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{198,167}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{198,167}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>98_02_dabaozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,151}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,151}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>98_02_dabaozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,447},{156,149}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{156,149}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>98_02_dilie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,155},{200,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,119}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>98_02_dilie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,346},{198,115}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{198,115}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>98_02_lingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{168,57}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,57}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenghuolingfa_feixing.png</string>
            <key>size</key>
            <string>{484,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baa258d230065f5c763566625d648b64:1/1$</string>
            <key>textureFileName</key>
            <string>shenghuolingfa_feixing.png</string>
        </dict>
    </dict>
</plist>
