<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_xiaoguangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,256}}</string>
                <key>sourceSize</key>
                <string>{150,256}</string>
            </dict>
            <key>02_03_cibeijiaxue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{56,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{56,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>02_03_cibeijiaxue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{64,128}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>02_03_cibeijiaxue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{62,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{62,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>02_03_cibeijiaxue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{64,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>02_03_cibeijiaxue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{56,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>02_03_cibeijiaxue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,154},{58,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{58,126}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>02_03_cibeijiaxue_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,190},{54,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{54,122}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>02_03_cibeijiaxue_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,190},{54,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{54,124}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>02_03_cibeijiaxue_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,132},{56,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{56,126}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wofocibei_mingzhong.png</string>
            <key>size</key>
            <string>{510,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a962c29ca434722e5e5481e567730206:1/1$</string>
            <key>textureFileName</key>
            <string>wofocibei_mingzhong.png</string>
        </dict>
    </dict>
</plist>
