<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianzhijuqing_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{527,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,43}}</string>
                <key>sourceSize</key>
                <string>{527,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianzhijuqing_zi2.png</string>
            <key>size</key>
            <string>{531,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd334308c0aba05d38c88657bf39db00:1/1$</string>
            <key>textureFileName</key>
            <string>qianzhijuqing_zi2.png</string>
        </dict>
    </dict>
</plist>
