<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baisedeguangmang.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,330},{228,228}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>caiquan_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>daxianinshenglile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{430,94}}</string>
                <key>sourceSize</key>
                <string>{430,98}</string>
            </dict>
            <key>guangyun_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>guangyun_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>huangsedeguangmang.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,98},{240,230}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{240,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiquan_guangxiao.png</string>
            <key>size</key>
            <string>{496,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a86683ff4dc8a17d16932c10ea70c8:1/1$</string>
            <key>textureFileName</key>
            <string>caiquan_guangxiao.png</string>
        </dict>
    </dict>
</plist>
