<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>29_3_hx_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,114},{98,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{98,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>29_3_hx_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,212},{98,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{98,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>29_3_hx_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>29_3_hx_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,176},{114,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{114,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>29_3_hx_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,156},{104,96}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{104,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>29_3_hx_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{124,122}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>29_3_jian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,300},{62,177}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{62,177}}</string>
                <key>sourceSize</key>
                <string>{90,179}</string>
            </dict>
            <key>29_3_jian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,294},{62,125}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,54},{62,125}}</string>
                <key>sourceSize</key>
                <string>{90,179}</string>
            </dict>
            <key>29_3_jianhen_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{169,76}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{169,76}}</string>
                <key>sourceSize</key>
                <string>{179,90}</string>
            </dict>
            <key>29_3_jianhen_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{169,76}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{169,76}}</string>
                <key>sourceSize</key>
                <string>{179,90}</string>
            </dict>
            <key>29_3_jianhen_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{169,80}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{169,80}}</string>
                <key>sourceSize</key>
                <string>{179,90}</string>
            </dict>
            <key>29_3_jianhen_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,294},{141,86}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{179,90}</string>
            </dict>
            <key>29_3_jianhen_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{173,90}}</string>
                <key>sourceSize</key>
                <string>{179,90}</string>
            </dict>
            <key>29_3_jianhen_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,80},{169,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{169,74}}</string>
                <key>sourceSize</key>
                <string>{179,90}</string>
            </dict>
            <key>29_3_js_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,312},{78,80}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{78,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>29_3_js_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,402},{84,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>29_3_js_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,312},{84,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>29_3_js_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,421},{84,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>29_3_xue.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,394},{92,50}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,101},{92,50}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>murongjianfa_pugong_mingzhong.png</string>
            <key>size</key>
            <string>{462,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5c562e07acb277cbdfca0b46b43a468:1/1$</string>
            <key>textureFileName</key>
            <string>murongjianfa_pugong_mingzhong.png</string>
        </dict>
    </dict>
</plist>
