<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luzhangfa_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luzhangfa_feixing.png</string>
            <key>size</key>
            <string>{176,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab1036d51c2762b198ab7af77a1d442:1/1$</string>
            <key>textureFileName</key>
            <string>luzhangfa_feixing.png</string>
        </dict>
    </dict>
</plist>
