<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ts6yz_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{106,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{106,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ts6yz_jg_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,346},{93,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{93,124}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
            <key>ts6yz_jg_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,216},{113,128}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{113,128}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
            <key>ts6yz_jg_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,140}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
            <key>ts6yz_jg_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{135,132}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,132}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
            <key>ts6yz_jg_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{121,112}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{121,112}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
            <key>ts6yz_jg_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,124},{97,90}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{97,90}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
            <key>ts6yz_jg_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{71,64}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{71,64}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
            <key>ts6yz_jg_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,275},{43,40}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,39},{43,40}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
            <key>ts6yz_jg_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,441},{13,14}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,61},{13,14}}</string>
                <key>sourceSize</key>
                <string>{137,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianshanliuyangzhang_qishou.png</string>
            <key>size</key>
            <string>{254,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37ec315be9793aceeb392524fa58242c:1/1$</string>
            <key>textureFileName</key>
            <string>tianshanliuyangzhang_qishou.png</string>
        </dict>
    </dict>
</plist>
