<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>92_02_bo.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,277},{192,248}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{192,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>92_02_chongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,527},{248,228}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>92_02_dilie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>92_02_fo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,432}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,29},{286,432}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>92_02_shouzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{197,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,273}}</string>
                <key>sourceSize</key>
                <string>{197,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianshourulaizhang_feixing.png</string>
            <key>size</key>
            <string>{511,757}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5185981fe5c1bae22b95fa881dd1159:1/1$</string>
            <key>textureFileName</key>
            <string>qianshourulaizhang_feixing.png</string>
        </dict>
    </dict>
</plist>
