<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmsg_dian_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,231},{43,45}}</string>
                <key>offset</key>
                <string>{-32,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,221},{43,45}}</string>
                <key>sourceSize</key>
                <string>{227,273}</string>
            </dict>
            <key>bmsg_dian_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{133,227}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{133,227}}</string>
                <key>sourceSize</key>
                <string>{227,273}</string>
            </dict>
            <key>bmsg_dian_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,380},{157,181}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,91},{157,181}}</string>
                <key>sourceSize</key>
                <string>{227,273}</string>
            </dict>
            <key>bmsg_dian_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{187,185}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,87},{187,185}}</string>
                <key>sourceSize</key>
                <string>{227,273}</string>
            </dict>
            <key>bmsg_dian_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,564},{183,173}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,99},{183,173}}</string>
                <key>sourceSize</key>
                <string>{227,273}</string>
            </dict>
            <key>bmsg_dian_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,740},{179,169}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,97},{179,169}}</string>
                <key>sourceSize</key>
                <string>{227,273}</string>
            </dict>
            <key>bmsg_dian_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,563},{175,161}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,101},{175,161}}</string>
                <key>sourceSize</key>
                <string>{227,273}</string>
            </dict>
            <key>bmsg_xuan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,740},{178,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{178,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmsg_xuan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{192,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{192,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmsg_xuan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,380},{182,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,36},{182,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmsg_xuan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{178,182}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{178,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmsg_xuan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,190},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{188,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmsg_xuan_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{182,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,35},{182,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmsg_xuan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{188,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmsg_xuan_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{180,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,36},{180,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beimingshengong_mingzhong.png</string>
            <key>size</key>
            <string>{539,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87e8b9c30c86b463817c924a1b3e70a9:1/1$</string>
            <key>textureFileName</key>
            <string>beimingshengong_mingzhong.png</string>
        </dict>
    </dict>
</plist>
