<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siwang_huo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,204},{43,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,272},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,361},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,361},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,293},{43,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,225},{43,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,293},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,225},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,293},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,136},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,225},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,68},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_huo_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>siwang_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sw_shibei_loop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,221}}</string>
                <key>sourceSize</key>
                <string>{178,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>siwang_feixing.png</string>
            <key>size</key>
            <string>{248,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0369283c746cbfb5cf23b0c3650a2eb:1/1$</string>
            <key>textureFileName</key>
            <string>siwang_feixing.png</string>
        </dict>
    </dict>
</plist>
