<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21_2_bai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>21_2_jbao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{168,144}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{168,144}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>21_2_jbao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,216},{206,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{206,142}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>21_2_jbao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,216},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{136,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>21_2_jbao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{28,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,91},{28,26}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>21_2_yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,212}}</string>
                <key>offset</key>
                <string>{18,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,100},{406,212}}</string>
                <key>sourceSize</key>
                <string>{500,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianmo_feixing_beijing.png</string>
            <key>size</key>
            <string>{482,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:982b002eb519b9d11acd9b3c508f8ccd:1/1$</string>
            <key>textureFileName</key>
            <string>jianmo_feixing_beijing.png</string>
        </dict>
    </dict>
</plist>
