<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lunjian_yunceng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{318,148}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>lunjian_yunceng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{314,146}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{314,146}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lunjian_yunceng.png</string>
            <key>size</key>
            <string>{322,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2dcf736536a70250a72add8fa87a33:1/1$</string>
            <key>textureFileName</key>
            <string>lunjian_yunceng.png</string>
        </dict>
    </dict>
</plist>
