<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101_2_bagua_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{244,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{244,101}}</string>
                <key>sourceSize</key>
                <string>{256,105}</string>
            </dict>
            <key>101_2_bao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,431},{152,152}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{152,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>101_2_bao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,422},{152,158}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{152,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>101_2_bao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{150,160}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{150,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>101_2_bao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,422},{158,164}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{158,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>101_2_bao_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,338},{158,158}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{158,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>101_2_bao_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,434},{144,144}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{144,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>101_2_downlight_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,282},{230,68}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,136},{230,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>101_2_downlight_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,105},{220,104}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,96},{220,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>101_2_downlight_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{216,144}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{216,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>101_2_downlight_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{190,138}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{190,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>101_2_guang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,218},{238,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{238,62}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>101_2_guang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,381},{248,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{248,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>101_2_guang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,68},{252,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{252,24}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>101_2_guang_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,196},{250,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{250,20}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>101_2_lvdian_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{64,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,256}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>101_2_lvdian_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,134},{64,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,254}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>101_2_lvdian_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{64,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,256}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>101_2_lvdian_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,68},{60,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,256}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>101_2_uplight_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,352},{226,68}}</string>
                <key>offset</key>
                <string>{-6,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,180},{226,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>101_2_uplight_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,211},{218,102}}</string>
                <key>offset</key>
                <string>{-7,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,142},{218,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>101_2_uplight_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,144}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,95},{216,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>101_2_uplight_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,200},{186,136}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,53},{186,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>101_2_zidian_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,130},{64,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,254}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>101_2_zidian_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,315},{64,246}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{64,246}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>101_2_zidian_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,68},{64,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,254}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianluodiwangshi_feixing.png</string>
            <key>size</key>
            <string>{1006,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8879afba7bcec4047b8e4cc23d43a69:1/1$</string>
            <key>textureFileName</key>
            <string>tianluodiwangshi_feixing.png</string>
        </dict>
    </dict>
</plist>
