<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nuqi_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,56},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>nuqi_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{310,52}}</string>
                <key>sourceSize</key>
                <string>{320,76}</string>
            </dict>
            <key>nuqi_line_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,258},{70,20}}</string>
                <key>offset</key>
                <string>{97,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,126},{70,20}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>nuqi_line_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,56},{154,30}}</string>
                <key>offset</key>
                <string>{55,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,115},{154,30}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>nuqi_line_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,56},{218,30}}</string>
                <key>offset</key>
                <string>{23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,113},{218,30}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>nuqi_line_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{256,34}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,112},{256,34}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>nuqi_line_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,258},{138,50}}</string>
                <key>offset</key>
                <string>{-63,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,96},{138,50}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>nuqi_line_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,276},{40,50}}</string>
                <key>offset</key>
                <string>{-113,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,94},{40,50}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nuqiji_zi.png</string>
            <key>size</key>
            <string>{318,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2178b1745e29d47846704d81ae91ead:1/1$</string>
            <key>textureFileName</key>
            <string>nuqiji_zi.png</string>
        </dict>
    </dict>
</plist>
