<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>douzhuanxingyiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,104},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>douzhuanxingyiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>douzhuanxingyixilizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{102,100}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{102,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>douzhuanxingyixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,203},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>douzhuanxingyiyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>douzhuanxingyi.png</string>
            <key>size</key>
            <string>{236,269}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cde8831e1ac1ac4473fe45a3972985e4:1/1$</string>
            <key>textureFileName</key>
            <string>douzhuanxingyi.png</string>
        </dict>
    </dict>
</plist>
