<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiankunquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{100,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qiankunxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,94},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>qiankunxishou.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,90}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiankun.png</string>
            <key>size</key>
            <string>{202,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa2e7dac6a185736eee89e659dc2623:1/1$</string>
            <key>textureFileName</key>
            <string>qiankun.png</string>
        </dict>
    </dict>
</plist>
