<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>146_2_bao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,317},{165,133}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{165,133}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>146_2_bao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,149},{171,141}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{171,141}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>146_2_bao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{173,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{173,145}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>146_2_bao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,358},{169,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{169,145}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>146_2_bao_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,292},{139,121}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,33},{139,121}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>146_2_bao_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,358},{141,117}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{141,117}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>146_2_long_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,415},{67,63}}</string>
                <key>offset</key>
                <string>{8,-231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,462},{67,63}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
            <key>146_2_long_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{79,147}}</string>
                <key>offset</key>
                <string>{28,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,378},{79,147}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
            <key>146_2_long_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{81,249}}</string>
                <key>offset</key>
                <string>{25,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,276},{81,249}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
            <key>146_2_long_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{129,353}}</string>
                <key>offset</key>
                <string>{1,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,172},{129,353}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
            <key>146_2_long_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,449}}</string>
                <key>offset</key>
                <string>{-9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,76},{147,449}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
            <key>146_2_long_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{127,433}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{127,433}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
            <key>146_2_long_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{107,313}}</string>
                <key>offset</key>
                <string>{-19,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{107,313}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
            <key>146_2_long_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,151},{75,205}}</string>
                <key>offset</key>
                <string>{-20,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{75,205}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
            <key>146_2_long_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,437},{63,127}}</string>
                <key>offset</key>
                <string>{-17,199}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{63,127}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
            <key>146_2_long_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{31,53}}</string>
                <key>offset</key>
                <string>{-7,236}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{31,53}}</string>
                <key>sourceSize</key>
                <string>{175,525}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xianglongshibazhang_feixing.png</string>
            <key>size</key>
            <string>{859,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bd10990503c2ffd8ee536fd57b6951a:1/1$</string>
            <key>textureFileName</key>
            <string>xianglongshibazhang_feixing.png</string>
        </dict>
    </dict>
</plist>
