<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>81_2_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{309,315}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,315}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>81_2_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>81_2_quan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,132},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>81_2_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>81_2_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,204},{50,252}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,252}}</string>
                <key>sourceSize</key>
                <string>{50,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingangfumoquan_feixing.png</string>
            <key>size</key>
            <string>{695,313}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3bf5da3f01e7106ffc2ba5790d69fcd:1/1$</string>
            <key>textureFileName</key>
            <string>jingangfumoquan_feixing.png</string>
        </dict>
    </dict>
</plist>
