<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kapai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{139,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{139,171}</string>
            </dict>
            <key>kapai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{139,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{139,171}</string>
            </dict>
            <key>kapai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{139,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{139,171}</string>
            </dict>
            <key>kapai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{139,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{139,171}</string>
            </dict>
            <key>kapai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{139,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{139,171}</string>
            </dict>
            <key>kapai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{139,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_bg.png</string>
            <key>size</key>
            <string>{848,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72514fcf873d0332e05186b58515c4de:1/1$</string>
            <key>textureFileName</key>
            <string>card_bg.png</string>
        </dict>
    </dict>
</plist>
