<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2015_03_18_start_refine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>2015_03_18_start_refine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2015_03_18.png</string>
            <key>size</key>
            <string>{300,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e5209ed734054f4ee5e5f39afc54df:5321aa6c8d73b84e379ad8b30314fed4:9836da60c6d893cd90b9d81655900ba8$</string>
            <key>textureFileName</key>
            <string>2015_03_18.png</string>
        </dict>
    </dict>
</plist>
