<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,114},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>biwu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>biwu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>chouren_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>chouren_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{194,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,114}}</string>
                <key>sourceSize</key>
                <string>{194,114}</string>
            </dict>
            <key>duihuan_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,194},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>duihuan_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{32,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,4}}</string>
                <key>sourceSize</key>
                <string>{32,4}</string>
            </dict>
            <key>fuchou_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,220},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>fuchou_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,355},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>hero_label_bng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{173,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,48}}</string>
                <key>sourceSize</key>
                <string>{173,48}</string>
            </dict>
            <key>jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,419},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>labebng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,36}}</string>
                <key>sourceSize</key>
                <string>{219,36}</string>
            </dict>
            <key>naili.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>refresh_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{192,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,72}}</string>
                <key>sourceSize</key>
                <string>{192,72}</string>
            </dict>
            <key>refresh_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{192,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,72}}</string>
                <key>sourceSize</key>
                <string>{192,72}</string>
            </dict>
            <key>rongyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,118},{127,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,32}}</string>
                <key>sourceSize</key>
                <string>{127,32}</string>
            </dict>
            <key>rongyu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,156},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>tianbang_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,169},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>tianbang_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,118},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>times.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,286},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biwu_main.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a933ac192c44a501813a4982edd248f1$</string>
            <key>textureFileName</key>
            <string>biwu_main.png</string>
        </dict>
    </dict>
</plist>
