<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baowu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,306},{437,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{437,95}}</string>
                <key>sourceSize</key>
                <string>{441,97}</string>
            </dict>
            <key>baowuyulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,925},{184,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,37}}</string>
                <key>sourceSize</key>
                <string>{184,37}</string>
            </dict>
            <key>baowuyulan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,403},{186,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,164}}</string>
                <key>sourceSize</key>
                <string>{186,164}</string>
            </dict>
            <key>bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,776},{147,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,138}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>bu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,865},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>bu_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{206,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,277}}</string>
                <key>sourceSize</key>
                <string>{206,277}</string>
            </dict>
            <key>caiquan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{640,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,13}}</string>
                <key>sourceSize</key>
                <string>{640,13}</string>
            </dict>
            <key>caiquan_top_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{640,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,81}}</string>
                <key>sourceSize</key>
                <string>{640,81}</string>
            </dict>
            <key>card_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{503,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,302}}</string>
                <key>sourceSize</key>
                <string>{503,302}</string>
            </dict>
            <key>chui_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,804},{187,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,250}}</string>
                <key>sourceSize</key>
                <string>{187,250}</string>
            </dict>
            <key>chui_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,878},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>content.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,403},{334,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{334,170}}</string>
                <key>sourceSize</key>
                <string>{340,178}</string>
            </dict>
            <key>inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,306},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>jiandao_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,757},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>jiandao_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,591},{164,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,314}}</string>
                <key>sourceSize</key>
                <string>{164,314}</string>
            </dict>
            <key>jingjiu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,757},{132,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,119}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>jiujianxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,606}}</string>
                <key>sourceSize</key>
                <string>{454,606}</string>
            </dict>
            <key>start_fanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,708},{190,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>you_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{430,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{430,94}}</string>
                <key>sourceSize</key>
                <string>{430,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiQuan.png</string>
            <key>size</key>
            <string>{966,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a4a95bf14b465761a8d0c8d7805524a:1/1$</string>
            <key>textureFileName</key>
            <string>caiQuan.png</string>
        </dict>
    </dict>
</plist>
