<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>da_nuqi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,432},{256,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,56}}</string>
                <key>sourceSize</key>
                <string>{256,56}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,490},{418,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,9}}</string>
                <key>sourceSize</key>
                <string>{418,9}</string>
            </dict>
            <key>hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{367,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,217}}</string>
                <key>sourceSize</key>
                <string>{367,217}</string>
            </dict>
            <key>nuqi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,432},{153,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,41}}</string>
                <key>sourceSize</key>
                <string>{153,41}</string>
            </dict>
            <key>qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,335}}</string>
                <key>sourceSize</key>
                <string>{428,335}</string>
            </dict>
            <key>xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_yun.png</string>
            <key>size</key>
            <string>{558,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b662c850603d6c4a0e9ec39aefe38f2d:1/1$</string>
            <key>textureFileName</key>
            <string>card_yun.png</string>
        </dict>
    </dict>
</plist>
