<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,316},{183,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>activity_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,131},{181,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>btn_get_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,118},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>btn_get_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,60},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>btn_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>collect_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,131},{183,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>collect_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,323},{183,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,176},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>get_tag_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,131},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>get_tag_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>getok.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,131},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>gold_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,60},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>gold_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,60},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>gold_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>panel_bng.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,60},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>progress_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{440,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{440,23}}</string>
                <key>sourceSize</key>
                <string>{446,31}</string>
            </dict>
            <key>progress_zero.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,31}}</string>
                <key>sourceSize</key>
                <string>{446,31}</string>
            </dict>
            <key>road_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,314},{181,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>road_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,131},{181,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>task_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,323},{183,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>task_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{183,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taskcommon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3b9d3b76a1131353e6b69d630bc6f33$</string>
            <key>textureFileName</key>
            <string>taskcommon.png</string>
        </dict>
    </dict>
</plist>
