<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bl_armour.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,790},{139,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{139,140}}</string>
                <key>sourceSize</key>
                <string>{143,144}</string>
            </dict>
            <key>bl_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{160,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{160,93}}</string>
                <key>sourceSize</key>
                <string>{168,99}</string>
            </dict>
            <key>bl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,540},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>bl_piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,109},{429,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{429,119}}</string>
                <key>sourceSize</key>
                <string>{441,125}</string>
            </dict>
            <key>bl_suolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,790},{155,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,78}}</string>
                <key>sourceSize</key>
                <string>{155,78}</string>
            </dict>
            <key>bl_suolian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,931},{42,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,82}}</string>
                <key>sourceSize</key>
                <string>{48,88}</string>
            </dict>
            <key>bl_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,105}}</string>
                <key>sourceSize</key>
                <string>{306,105}</string>
            </dict>
            <key>bl_wing_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{337,194}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{337,194}}</string>
                <key>sourceSize</key>
                <string>{345,202}</string>
            </dict>
            <key>bl_wing_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{340,182}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{340,182}}</string>
                <key>sourceSize</key>
                <string>{350,190}</string>
            </dict>
            <key>bw_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,672},{114,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_battle_lost.png</string>
            <key>size</key>
            <string>{319,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b30a551690c0167057253a9b547689fa:1/1$</string>
            <key>textureFileName</key>
            <string>ui_battle_lost.png</string>
        </dict>
    </dict>
</plist>
