<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>broadcast_label_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,51},{166,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{166,33}}</string>
                <key>sourceSize</key>
                <string>{166,43}</string>
            </dict>
            <key>broadcast_top_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{640,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,51}}</string>
                <key>sourceSize</key>
                <string>{640,51}</string>
            </dict>
            <key>broadcast_urgency_broad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,63}}</string>
                <key>sourceSize</key>
                <string>{640,63}</string>
            </dict>
            <key>broadcast_voice_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{640,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,32}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
            <key>broadcast_zhandouli_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{66,47}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,47}}</string>
                <key>sourceSize</key>
                <string>{92,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_broadcast.png</string>
            <key>size</key>
            <string>{812,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9940247f3288be20aaac9307fe7e6b5:1/1$</string>
            <key>textureFileName</key>
            <string>ui_broadcast.png</string>
        </dict>
    </dict>
</plist>
