<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bw_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>bw_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,119},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>bw_bottom_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,205},{107,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,43}}</string>
                <key>sourceSize</key>
                <string>{107,45}</string>
            </dict>
            <key>bw_denglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,119},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,92}}</string>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>bw_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,153},{65,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>bw_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,58},{48,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,21}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>bw_exp_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,85},{203,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,32}}</string>
                <key>sourceSize</key>
                <string>{205,34}</string>
            </dict>
            <key>bw_exp_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,34},{193,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{193,22}}</string>
                <key>sourceSize</key>
                <string>{205,34}</string>
            </dict>
            <key>bw_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,168},{63,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,32}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>bw_inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,118},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>bw_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>bw_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,30}}</string>
                <key>sourceSize</key>
                <string>{392,30}</string>
            </dict>
            <key>bw_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,119},{65,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>bw_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,119},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>bw_star_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,202},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bw_star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,187},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bw_title_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{237,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,36}}</string>
                <key>sourceSize</key>
                <string>{237,36}</string>
            </dict>
            <key>bw_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,58},{108,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,25}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>bw_zhanlipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{218,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,44}}</string>
                <key>sourceSize</key>
                <string>{220,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_battle_win.png</string>
            <key>size</key>
            <string>{436,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c97c994bff476e1231d877a78fa81c10:1/1$</string>
            <key>textureFileName</key>
            <string>ui_battle_win.png</string>
        </dict>
    </dict>
</plist>
