<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{126,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,63}</string>
            </dict>
            <key>atk_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>baoji_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,216},{126,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,63}</string>
            </dict>
            <key>baoji_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,77},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>battle_baoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,340},{89,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,48}}</string>
                <key>sourceSize</key>
                <string>{89,52}</string>
            </dict>
            <key>battle_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,357},{94,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,7}}</string>
                <key>sourceSize</key>
                <string>{94,7}</string>
            </dict>
            <key>battle_bar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,373},{94,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,7}}</string>
                <key>sourceSize</key>
                <string>{94,7}</string>
            </dict>
            <key>battle_gedang.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,327},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>battle_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,390},{102,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,74}}</string>
                <key>sourceSize</key>
                <string>{102,74}</string>
            </dict>
            <key>battle_mianyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,281},{84,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,44}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
            <key>battle_nuqi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,150},{127,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,59}}</string>
                <key>sourceSize</key>
                <string>{127,63}</string>
            </dict>
            <key>battle_nuqi_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,90},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>battle_nuqi_green2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,32},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>battle_nuqi_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>battle_nuqi_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,62},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>battle_nuqi_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{141,73}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{141,73}}</string>
                <key>sourceSize</key>
                <string>{147,77}</string>
            </dict>
            <key>battle_shanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,284},{90,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>battle_spd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,390},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>battle_spd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,332},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>battle_spd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>battle_zhongdu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{117,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{117,79}}</string>
                <key>sourceSize</key>
                <string>{125,85}</string>
            </dict>
            <key>battle_zhuoshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,276},{119,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{119,79}}</string>
                <key>sourceSize</key>
                <string>{125,85}</string>
            </dict>
            <key>dam_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,211},{126,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,63}</string>
            </dict>
            <key>dam_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,76},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>def_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{126,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,63}</string>
            </dict>
            <key>def_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>hero_magic_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,390},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>hero_tank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,217},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>hero_warrior_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,150},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>jump_drama_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,50}}</string>
                <key>sourceSize</key>
                <string>{144,50}</string>
            </dict>
            <key>mianyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,366},{97,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,60}}</string>
                <key>sourceSize</key>
                <string>{97,60}</string>
            </dict>
            <key>shanbi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,151},{126,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,63}</string>
            </dict>
            <key>shanbi_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>unvisibleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,54},{1,1}}</string>
                <key>offset</key>
                <string>{-69,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_battle.png</string>
            <key>size</key>
            <string>{471,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea11e51588204ef8619aadfb4f07721:1/1$</string>
            <key>textureFileName</key>
            <string>ui_battle.png</string>
        </dict>
    </dict>
</plist>
