<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b2_bangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,107},{89,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,108}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
            <key>b2_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{89,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{89,103}</string>
            </dict>
            <key>b2_chat_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>b2_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,121},{96,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{96,110}</string>
            </dict>
            <key>b2_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{78,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,92}}</string>
                <key>sourceSize</key>
                <string>{78,92}</string>
            </dict>
            <key>b2_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,115},{89,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,110}}</string>
                <key>sourceSize</key>
                <string>{89,110}</string>
            </dict>
            <key>b2_jingmai.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{89,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,111}}</string>
                <key>sourceSize</key>
                <string>{89,111}</string>
            </dict>
            <key>b2_jingyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,116},{89,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,111}}</string>
                <key>sourceSize</key>
                <string>{89,111}</string>
            </dict>
            <key>b2_lianhualu.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>b2_mail_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,185},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>b2_moreFuncBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,129},{104,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,107}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>b2_moreFuncBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{104,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,107}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>b2_moreFunc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,125}}</string>
                <key>sourceSize</key>
                <string>{127,125}</string>
            </dict>
            <key>b2_pet.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,111},{89,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,109}}</string>
                <key>sourceSize</key>
                <string>{89,109}</string>
            </dict>
            <key>b2_qunxialu.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{91,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,112}}</string>
                <key>sourceSize</key>
                <string>{91,112}</string>
            </dict>
            <key>b2_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,96},{81,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,87}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>b3_tiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{91,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,107}}</string>
                <key>sourceSize</key>
                <string>{91,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_bottom2.pvr.ccz</string>
            <key>size</key>
            <string>{761,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05cd32360d5cb8fd50b8873ce9087e61:1/1$</string>
            <key>textureFileName</key>
            <string>ui_bottom2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
