<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_icon_decorate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{119,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,111}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
            <key>huodong_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,173},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>huodong_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>jingying_inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,901},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>jingying_inner_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>jingying_money_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{165,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,42}}</string>
                <key>sourceSize</key>
                <string>{165,42}</string>
            </dict>
            <key>jingying_rest_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,41}}</string>
                <key>sourceSize</key>
                <string>{218,41}</string>
            </dict>
            <key>jingying_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,357},{257,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,43}}</string>
                <key>sourceSize</key>
                <string>{257,43}</string>
            </dict>
            <key>jingying_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>jingying_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>jingying_upper_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{533,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,155}}</string>
                <key>sourceSize</key>
                <string>{533,155}</string>
            </dict>
            <key>mini_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,120},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>plus_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,45},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_challenge.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:864046bf2d84bc91e6452e9099586c76:1/1$</string>
            <key>textureFileName</key>
            <string>ui_challenge.png</string>
        </dict>
    </dict>
</plist>
