<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cz_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,903},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>cz_allBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{495,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,33}}</string>
                <key>sourceSize</key>
                <string>{495,33}</string>
            </dict>
            <key>cz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,662},{201,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,193}}</string>
                <key>sourceSize</key>
                <string>{201,193}</string>
            </dict>
            <key>cz_buyBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,734},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>cz_checkVip_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,527},{283,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,81}}</string>
                <key>sourceSize</key>
                <string>{283,81}</string>
            </dict>
            <key>cz_effect_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{335,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,106}}</string>
                <key>sourceSize</key>
                <string>{335,106}</string>
            </dict>
            <key>cz_gift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,662},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>cz_gift_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,100},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>cz_gift_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,969},{77,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,49}}</string>
                <key>sourceSize</key>
                <string>{77,49}</string>
            </dict>
            <key>cz_give_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,891},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>cz_goBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,469},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>cz_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,903},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>cz_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,857},{61,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,44}}</string>
                <key>sourceSize</key>
                <string>{61,44}</string>
            </dict>
            <key>cz_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,72},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>cz_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,208},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>cz_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,333},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>cz_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,208},{123,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>cz_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,400},{154,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,110}}</string>
                <key>sourceSize</key>
                <string>{154,110}</string>
            </dict>
            <key>cz_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,172},{186,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,164}}</string>
                <key>sourceSize</key>
                <string>{186,164}</string>
            </dict>
            <key>cz_item_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{147,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,138}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>cz_item_titleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,610},{283,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,50}}</string>
                <key>sourceSize</key>
                <string>{283,50}</string>
            </dict>
            <key>cz_monthItem_innerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,278},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>cz_monthcard_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{227,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,45}}</string>
                <key>sourceSize</key>
                <string>{227,45}</string>
            </dict>
            <key>cz_normalBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{495,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,33}}</string>
                <key>sourceSize</key>
                <string>{495,33}</string>
            </dict>
            <key>cz_price_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,437},{101,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,30}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
            <key>cz_scroll_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,857},{32,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,119}}</string>
                <key>sourceSize</key>
                <string>{32,119}</string>
            </dict>
            <key>cz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,360},{159,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,38}}</string>
                <key>sourceSize</key>
                <string>{159,38}</string>
            </dict>
            <key>cz_title_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{409,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,26}}</string>
                <key>sourceSize</key>
                <string>{409,26}</string>
            </dict>
            <key>cz_title_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,857},{110,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>cz_top_node.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{615,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,200}}</string>
                <key>sourceSize</key>
                <string>{615,200}</string>
            </dict>
            <key>cz_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,144},{54,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,23}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_chongzhi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f0280fa79b2becf72cbb96d31fd925a:1/1$</string>
            <key>textureFileName</key>
            <string>ui_chongzhi.png</string>
        </dict>
    </dict>
</plist>
