<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_info_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>equip_info_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>equip_info_qianghua_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>equip_info_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>equip_info_xiexia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>equip_info_xilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>equip_qianghua_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,332},{60,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{60,82}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>equip_qianghua_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{82,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{82,85}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>equip_qianghua_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,86},{80,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{80,85}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>equip_qianghua_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,168},{82,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{82,84}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>equip_qianghua_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,252},{78,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{78,82}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_equip.png</string>
            <key>size</key>
            <string>{238,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a13c1c5ff297aff96fe0c43a0121f7ac:1/1$</string>
            <key>textureFileName</key>
            <string>ui_equip.png</string>
        </dict>
    </dict>
</plist>
