<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_advance_xilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,608},{125,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,30}}</string>
                <key>sourceSize</key>
                <string>{125,30}</string>
            </dict>
            <key>equip_armour_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,847},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>equip_debris_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>equip_debris_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>equip_down_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,660},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>equip_ear_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,847},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>equip_equip_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>equip_equip_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>equip_fashion_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>equip_helment_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,620},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>equip_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,42},{288,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,9}}</string>
                <key>sourceSize</key>
                <string>{288,9}</string>
            </dict>
            <key>equip_medium_xilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,576},{125,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,30}}</string>
                <key>sourceSize</key>
                <string>{125,30}</string>
            </dict>
            <key>equip_normal_xilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,544},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>equip_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,513},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>equip_preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,38}}</string>
                <key>sourceSize</key>
                <string>{242,38}</string>
            </dict>
            <key>equip_qianghua_baoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{366,81}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{366,81}}</string>
                <key>sourceSize</key>
                <string>{372,87}</string>
            </dict>
            <key>equip_qianghua_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{237,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{237,79}}</string>
                <key>sourceSize</key>
                <string>{243,85}</string>
            </dict>
            <key>equip_sel_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,544},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>equip_sell_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,201},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>equip_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,806},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>equip_suit_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,385},{65,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>equip_tisheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{235,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{235,76}}</string>
                <key>sourceSize</key>
                <string>{241,84}</string>
            </dict>
            <key>equip_unsel_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,582},{36,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>equip_up_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,640},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>equip_weapon_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,510},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>equip_xilian_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,847},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>equip_xl_baoji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,426},{60,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{60,82}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>equip_xl_baoji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,640},{82,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{82,85}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>equip_xl_baoji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,724},{80,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{80,85}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>equip_xl_baoji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,681},{82,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{82,84}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>equip_xl_baoji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,767},{78,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{78,82}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>equp_fashion_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_equipV2.png</string>
            <key>size</key>
            <string>{256,881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c0eb8f0e030349bdf4552f737fab500:1/1$</string>
            <key>textureFileName</key>
            <string>ui_equipV2.png</string>
        </dict>
    </dict>
</plist>
