<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_add_already.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,628},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>friend_agree_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{173,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,64}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>friend_apply_already.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,735},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>friend_apply_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,502},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>friend_apply_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,684},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>friend_apply_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,621},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>friend_break.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>friend_charm.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,211},{60,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,23}}</string>
                <key>sourceSize</key>
                <string>{60,23}</string>
            </dict>
            <key>friend_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,208},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>friend_chat_buble.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,42},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>friend_check_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>friend_claim_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,68},{218,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{218,64}</string>
            </dict>
            <key>friend_claim_all_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{218,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{218,64}</string>
            </dict>
            <key>friend_claim_nali_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,529},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>friend_claim_nali_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,478},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>friend_claim_ttf.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,782},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>friend_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,436},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>friend_down_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,580},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>friend_down_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,306},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>friend_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>friend_get_nali.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,449},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>friend_lv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,550},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>friend_mine_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,427},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>friend_mine_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,376},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>friend_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{623,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,84}}</string>
                <key>sourceSize</key>
                <string>{623,84}</string>
            </dict>
            <key>friend_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,38}}</string>
                <key>sourceSize</key>
                <string>{275,38}</string>
            </dict>
            <key>friend_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,568},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>friend_pk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>friend_recommend_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,325},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>friend_recommend_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,274},{159,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,49}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>friend_reject.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,370},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>friend_reject_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,134},{173,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,64}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>friend_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,568},{114,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,51}}</string>
                <key>sourceSize</key>
                <string>{114,51}</string>
            </dict>
            <key>friend_search_id_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,274},{107,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,41}}</string>
                <key>sourceSize</key>
                <string>{107,41}</string>
            </dict>
            <key>friend_search_id_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,317},{103,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{103,29}}</string>
                <key>sourceSize</key>
                <string>{107,41}</string>
            </dict>
            <key>friend_search_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,580},{124,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,41}}</string>
                <key>sourceSize</key>
                <string>{124,41}</string>
            </dict>
            <key>friend_search_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,86},{120,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{120,29}}</string>
                <key>sourceSize</key>
                <string>{124,41}</string>
            </dict>
            <key>friend_send_nali.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,348},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>friend_zhandouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,134},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
            <key>send_already.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,782},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>text_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,306},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_friend.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebba3ecdf4e2428b5199f8f8f1dd14e0:1/1$</string>
            <key>textureFileName</key>
            <string>ui_friend.png</string>
        </dict>
    </dict>
</plist>
