<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_shop_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,802},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>guild_shop_exchange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>guild_shop_exchange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>guild_shop_gem_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>guild_shop_gem_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>guild_shop_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,529}}</string>
                <key>sourceSize</key>
                <string>{231,529}</string>
            </dict>
            <key>guild_shop_levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>guild_shop_props_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>guild_shop_props_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>guild_shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{184,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,60}}</string>
                <key>sourceSize</key>
                <string>{184,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_shop.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5abda566b60eb54d803b6e94a14a2c93:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_shop.png</string>
        </dict>
    </dict>
</plist>
