<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_ms_build_baihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{172,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,137}}</string>
                <key>sourceSize</key>
                <string>{172,137}</string>
            </dict>
            <key>guild_ms_build_dadian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,175}}</string>
                <key>sourceSize</key>
                <string>{196,175}</string>
            </dict>
            <key>guild_ms_build_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,315},{144,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,125}}</string>
                <key>sourceSize</key>
                <string>{144,125}</string>
            </dict>
            <key>guild_ms_build_houshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{145,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,126}}</string>
                <key>sourceSize</key>
                <string>{145,126}</string>
            </dict>
            <key>guild_ms_build_qinglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,179},{170,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,134}}</string>
                <key>sourceSize</key>
                <string>{170,134}</string>
            </dict>
            <key>guild_ms_build_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,315},{157,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,133}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>guild_ms_build_zuofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{171,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,153}}</string>
                <key>sourceSize</key>
                <string>{171,153}</string>
            </dict>
            <key>guild_ms_guild_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,476},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>guild_ms_guild_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,450},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>guild_ms_guild_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,476},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>guild_ms_guild_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,450},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>guild_ms_guild_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,130},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>guild_ms_modify.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,239},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>guild_ms_msg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{640,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,61}}</string>
                <key>sourceSize</key>
                <string>{640,61}</string>
            </dict>
            <key>guild_ms_note_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{24,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,125}}</string>
                <key>sourceSize</key>
                <string>{24,125}</string>
            </dict>
            <key>guild_ms_note_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,473},{95,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,26}}</string>
                <key>sourceSize</key>
                <string>{95,26}</string>
            </dict>
            <key>guild_ms_other_guild.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,156},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>guild_ms_self_contribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,130},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>guild_ms_shuxing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_main_scene.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:815a4baeca0e5b62c911c6da227d76f4:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_main_scene.png</string>
        </dict>
    </dict>
</plist>
