<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_cbg_bottomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,33},{20,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,106}}</string>
                <key>sourceSize</key>
                <string>{20,106}</string>
            </dict>
            <key>guild_cbg_innerBg_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,309},{59,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,45}}</string>
                <key>sourceSize</key>
                <string>{59,45}</string>
            </dict>
            <key>guild_cbg_innerBg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,302},{59,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,45}}</string>
                <key>sourceSize</key>
                <string>{59,45}</string>
            </dict>
            <key>guild_cbg_itemBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>guild_cbg_itemBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,72},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>guild_cbg_itemBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,37},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>guild_cbg_itemBg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>guild_cbg_itemBg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,33},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>guild_cbg_itemInnerBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>guild_cbg_itemTopBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,234},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>guild_cbg_itemTopBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,199},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>guild_cbg_itemTopBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,199},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>guild_cbg_itemTopBg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,164},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>guild_cbg_itemTopBg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,302},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>guild_cbg_itemTopLvBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,37},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>guild_cbg_itemTopLvBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>guild_cbg_itemTopLvBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>guild_cbg_itemTopLvBg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>guild_cbg_markBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,164},{82,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,109}}</string>
                <key>sourceSize</key>
                <string>{82,109}</string>
            </dict>
            <key>guild_cbg_markBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,205},{81,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,109}}</string>
                <key>sourceSize</key>
                <string>{81,109}</string>
            </dict>
            <key>guild_cbg_markBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,199},{82,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,108}}</string>
                <key>sourceSize</key>
                <string>{82,108}</string>
            </dict>
            <key>guild_cbg_markBg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,120},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>guild_cbg_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,275},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
            <key>guild_cbg_powerTotal.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,275},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
            <key>guild_cbg_rankIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,25}}</string>
                <key>sourceSize</key>
                <string>{138,25}</string>
            </dict>
            <key>guild_cbg_workBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_common_bg.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2d16a7f4c282a793b7d7f4356758bf0:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_common_bg.png</string>
        </dict>
    </dict>
</plist>
