<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_zf_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,339},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>guild_zf_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>guild_zf_fastBuild_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>guild_zf_fastBuild_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,273},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>guild_zf_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,203}}</string>
                <key>sourceSize</key>
                <string>{289,203}</string>
            </dict>
            <key>guild_zf_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,31},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>guild_zf_normalBuild_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>guild_zf_normalBuild_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,207},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>guild_zf_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,31},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>guild_zf_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{186,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,27}}</string>
                <key>sourceSize</key>
                <string>{186,27}</string>
            </dict>
            <key>guild_zf_unopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>guild_zf_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_zf.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05fb3fd391f5321cdddf640272397228:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_zf.png</string>
        </dict>
    </dict>
</plist>
