<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_cbtn_apply.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,137},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>guild_cbtn_applyCancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,137},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>guild_cbtn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,234},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>guild_cbtn_check_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,346},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>guild_cbtn_check_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,241},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>guild_cbtn_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>guild_cbtn_demise.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,434},{239,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,65}}</string>
                <key>sourceSize</key>
                <string>{239,65}</string>
            </dict>
            <key>guild_cbtn_dynamic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>guild_cbtn_dynamic_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,234},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>guild_cbtn_dynamic_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,203},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>guild_cbtn_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,176},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>guild_cbtn_levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>guild_cbtn_list_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,398},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>guild_cbtn_list_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,293},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>guild_cbtn_manage.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,333},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>guild_cbtn_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,234},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>guild_cbtn_member_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,189},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>guild_cbtn_member_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,137},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>guild_cbtn_modify_manifesto.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,136},{239,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,65}}</string>
                <key>sourceSize</key>
                <string>{239,65}</string>
            </dict>
            <key>guild_cbtn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{634,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,133}}</string>
                <key>sourceSize</key>
                <string>{634,133}</string>
            </dict>
            <key>guild_cbtn_notopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,118},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>guild_cbtn_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,60},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>guild_cbtn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>guild_cbtn_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,333},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>guild_cbtn_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,293},{114,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,51}}</string>
                <key>sourceSize</key>
                <string>{114,51}</string>
            </dict>
            <key>guild_cbtn_unopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>guild_cbtn_verify.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,69},{239,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,65}}</string>
                <key>sourceSize</key>
                <string>{239,65}</string>
            </dict>
            <key>guild_cbtn_zijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{239,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,65}}</string>
                <key>sourceSize</key>
                <string>{239,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_common_button.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:743e7d3496db9d64a632852a38278aab:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_common_button.png</string>
        </dict>
    </dict>
</plist>
