<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_dd_coin_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{89,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>guild_dd_coin_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,137},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>guild_dd_coin_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{83,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,66}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>guild_dd_contribute_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,203},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>guild_dd_contribute_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,137},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>guild_dd_dadian_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,203}}</string>
                <key>sourceSize</key>
                <string>{289,203}</string>
            </dict>
            <key>guild_dd_dadian_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>guild_dd_msg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{288,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,32}}</string>
                <key>sourceSize</key>
                <string>{288,32}</string>
            </dict>
            <key>guild_dd_title_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,92},{167,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,43}}</string>
                <key>sourceSize</key>
                <string>{167,43}</string>
            </dict>
            <key>guild_dd_title_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,47},{167,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,43}}</string>
                <key>sourceSize</key>
                <string>{167,43}</string>
            </dict>
            <key>guild_dd_title_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{167,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,43}}</string>
                <key>sourceSize</key>
                <string>{167,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_dadian.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca7a22312e833f299a971d1e6307fcf3:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_dadian.png</string>
        </dict>
    </dict>
</plist>
