<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_fuben_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,191},{135,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,136}}</string>
                <key>sourceSize</key>
                <string>{135,136}</string>
            </dict>
            <key>guild_fuben_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,424},{74,69}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{74,69}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>guild_fuben_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>guild_fuben_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,345},{74,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>guild_fuben_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>guild_fuben_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>guild_fuben_enter_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,150},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>guild_fuben_fengyun_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{156,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,47}}</string>
                <key>sourceSize</key>
                <string>{156,47}</string>
            </dict>
            <key>guild_fuben_fengyun_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,29},{156,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,47}}</string>
                <key>sourceSize</key>
                <string>{156,47}</string>
            </dict>
            <key>guild_fuben_fight_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>guild_fuben_help_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,33},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>guild_fuben_hp_empty1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{297,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,25}}</string>
                <key>sourceSize</key>
                <string>{297,25}</string>
            </dict>
            <key>guild_fuben_hp_empty2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,114},{203,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,34}}</string>
                <key>sourceSize</key>
                <string>{205,34}</string>
            </dict>
            <key>guild_fuben_hp_full1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{297,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,25}}</string>
                <key>sourceSize</key>
                <string>{297,25}</string>
            </dict>
            <key>guild_fuben_hp_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,78},{203,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,34}}</string>
                <key>sourceSize</key>
                <string>{205,34}</string>
            </dict>
            <key>guild_fuben_left_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{158,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,25}}</string>
                <key>sourceSize</key>
                <string>{158,25}</string>
            </dict>
            <key>guild_fuben_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,145},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>guild_fuben_passed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>guild_fuben_passed_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,329},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>guild_fuben_result_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,29}}</string>
                <key>sourceSize</key>
                <string>{341,29}</string>
            </dict>
            <key>guild_fuben_result_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,118},{138,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,25}}</string>
                <key>sourceSize</key>
                <string>{138,25}</string>
            </dict>
            <key>guild_fuben_result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{307,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,29}}</string>
                <key>sourceSize</key>
                <string>{307,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_fuben.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:817c9149d4a3fe2c267cb8ad46db4719:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_fuben.png</string>
        </dict>
    </dict>
</plist>
