<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_mbtn_accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,398},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>guild_mbtn_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,266},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,200},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_friend_add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_friend_add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,134},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_job.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>guild_mbtn_kick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_reject.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>guild_mbtn_reject_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,332},{149,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,51}}</string>
                <key>sourceSize</key>
                <string>{149,51}</string>
            </dict>
            <key>guild_mbtn_set_assistant_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,68},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_set_assistant_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_set_elder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_set_elder_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,64}}</string>
                <key>sourceSize</key>
                <string>{238,64}</string>
            </dict>
            <key>guild_mbtn_sort_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,456},{149,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,51}}</string>
                <key>sourceSize</key>
                <string>{149,51}</string>
            </dict>
            <key>guild_mbtn_sort_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{149,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,51}}</string>
                <key>sourceSize</key>
                <string>{149,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_member_button.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa07fc889526ad3edd6931cabfe5531b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_member_button.png</string>
        </dict>
    </dict>
</plist>
