<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herolimit_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,44},{45,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>herolimit_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,143},{272,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{272,25}}</string>
                <key>sourceSize</key>
                <string>{274,31}</string>
            </dict>
            <key>herolimit_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,110},{274,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,31}}</string>
                <key>sourceSize</key>
                <string>{274,31}</string>
            </dict>
            <key>herolimit_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1000}}</string>
                <key>sourceSize</key>
                <string>{640,1000}</string>
            </dict>
            <key>herolimit_cur_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,491},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>herolimit_desc_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,170},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>herolimit_down_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,603},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>herolimit_free_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,451},{114,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>herolimit_get_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,573},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>herolimit_hero_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,61},{307,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,47}}</string>
                <key>sourceSize</key>
                <string>{307,47}</string>
            </dict>
            <key>herolimit_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,170},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>herolimit_luck.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{67,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,40}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
            <key>herolimit_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,971},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>herolimit_rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,110},{217,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,28}}</string>
                <key>sourceSize</key>
                <string>{217,28}</string>
            </dict>
            <key>herolimit_rest_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,971},{120,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,34}}</string>
                <key>sourceSize</key>
                <string>{120,34}</string>
            </dict>
            <key>herolimit_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,971},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>herolimit_score_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,491},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>herolimit_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,272},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>herolimit_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{308,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,57}}</string>
                <key>sourceSize</key>
                <string>{308,57}</string>
            </dict>
            <key>herolimit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,91},{398,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,54}}</string>
                <key>sourceSize</key>
                <string>{398,54}</string>
            </dict>
            <key>herolimit_upbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,329},{640,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,191}}</string>
                <key>sourceSize</key>
                <string>{640,191}</string>
            </dict>
            <key>herolimit_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,971},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>herolimit_yuanbao_draw_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,329},{114,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_limit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68d9248c53ff415fc9fe48d4b12a8926:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hero_limit.png</string>
        </dict>
    </dict>
</plist>
