<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,473},{176,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>hero_chose_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,250},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>hero_haojie.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,133},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
            <key>hero_jinjie_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,450},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>hero_list_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,244},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>hero_magic_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,384},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>hero_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{464,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,38}}</string>
                <key>sourceSize</key>
                <string>{464,38}</string>
            </dict>
            <key>hero_qianghua_bar_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,442},{176,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>hero_qianghua_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,351},{176,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>hero_qianghua_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,473},{176,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>hero_qianghua_tab_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,198},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>hero_qianghua_tab_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,146},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>hero_qingyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,280},{129,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,102}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>hero_sell_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,450},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>hero_soul_tab_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,94},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>hero_soul_tab_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,94},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>hero_tank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,109},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>hero_warrior_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,42},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>heroinfo_cardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,449}}</string>
                <key>sourceSize</key>
                <string>{308,449}</string>
            </dict>
            <key>herolist_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,270},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>herolist_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,93},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>herolist_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,146},{62,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,27}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>herolist_expand.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,172},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>herolist_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,384},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>herolist_sel_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,42},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>herolist_sel_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,42},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>herolist_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{51,49}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{51,49}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>herolist_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,299},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>herolist_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,146},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>herolist_shangzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,176},{129,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,102}}</string>
                <key>sourceSize</key>
                <string>{129,102}</string>
            </dict>
            <key>herolist_starSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,299},{107,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,96}}</string>
                <key>sourceSize</key>
                <string>{107,96}</string>
            </dict>
            <key>herolist_undone.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,53},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>herolist_unsel_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,453},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>herolist_unsel_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>shine_green_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,442},{176,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>talent_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,397},{174,43}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,43}}</string>
                <key>sourceSize</key>
                <string>{180,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_herolist_v2.png</string>
            <key>size</key>
            <string>{833,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6430621964aa9d5c2d5e64c2cda1a84b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_herolist_v2.png</string>
        </dict>
    </dict>
</plist>
