<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_card_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{302,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,442}}</string>
                <key>sourceSize</key>
                <string>{304,446}</string>
            </dict>
            <key>item_card_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,446},{302,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,442}}</string>
                <key>sourceSize</key>
                <string>{304,446}</string>
            </dict>
            <key>item_card_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{302,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,442}}</string>
                <key>sourceSize</key>
                <string>{304,446}</string>
            </dict>
            <key>item_card_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{302,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,442}}</string>
                <key>sourceSize</key>
                <string>{304,446}</string>
            </dict>
            <key>item_card_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{302,442}}</string>
                <key>sourceSize</key>
                <string>{304,446}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_item_card_bg.png</string>
            <key>size</key>
            <string>{914,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e726b57b4199a1cb1cda3bee0560337b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_item_card_bg.png</string>
        </dict>
    </dict>
</plist>
