<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,289},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>item_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,286},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>item_board_hj.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,180},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
            <key>item_board_huabian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{166,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,158}}</string>
                <key>sourceSize</key>
                <string>{166,158}</string>
            </dict>
            <key>item_board_inner_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,339},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>item_board_jinglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,220},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>item_board_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,286},{195,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,1}}</string>
                <key>sourceSize</key>
                <string>{195,1}</string>
            </dict>
            <key>item_board_lv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,375},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>item_board_ng.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,327},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>item_board_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,390},{15,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>item_board_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,215},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>item_board_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,188},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>item_board_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,386},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>item_board_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,386},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>item_board_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>item_board_qianghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,114},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>item_board_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,329},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>item_board_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,375},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>item_board_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,329},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>item_board_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,154},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>item_board_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,278},{51,49}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{51,49}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>item_board_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,220},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>item_board_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,154},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>item_board_wg.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,266},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>item_board_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>item_board_zq.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,278},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>item_daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,373},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>item_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{4,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,96}}</string>
                <key>sourceSize</key>
                <string>{4,96}</string>
            </dict>
            <key>item_pinji.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,329},{89,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,52}}</string>
                <key>sourceSize</key>
                <string>{89,52}</string>
            </dict>
            <key>item_sell_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,180},{107,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,96}}</string>
                <key>sourceSize</key>
                <string>{107,96}</string>
            </dict>
            <key>item_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,329},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>item_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,114},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>item_star_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{464,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,38}}</string>
                <key>sourceSize</key>
                <string>{464,38}</string>
            </dict>
            <key>item_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>item_zizhi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,289},{155,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,38}}</string>
                <key>sourceSize</key>
                <string>{155,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_item_board.png</string>
            <key>size</key>
            <string>{644,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b64ba807cebcb46e397103e9c98708f3:1/1$</string>
            <key>textureFileName</key>
            <string>ui_item_board.png</string>
        </dict>
    </dict>
</plist>
