<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,265},{94,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,7}}</string>
                <key>sourceSize</key>
                <string>{94,7}</string>
            </dict>
            <key>icon_bar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{94,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,7}}</string>
                <key>sourceSize</key>
                <string>{94,7}</string>
            </dict>
            <key>icon_corner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,241},{35,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,22}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>icon_corner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,241},{33,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{33,22}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>icon_corner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,241},{33,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{33,22}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>icon_corner_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{35,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,22}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>icon_corner_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,241},{33,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{33,22}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>icon_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,190},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>icon_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,196},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>icon_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,196},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>icon_frame_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,184},{89,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{89,89}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_frame_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,93},{89,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{89,89}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_frame_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{89,89}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_frame_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{89,89}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_frame_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,99},{89,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{89,89}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_frame_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{114,140}</string>
            </dict>
            <key>icon_frame_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_frame_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,99},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_frame_board_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_frame_board_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,144},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_frame_board_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_icon_frame.png</string>
            <key>size</key>
            <string>{494,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4af7219bca2d3ec5e95bc700d68cfd04:1/1$</string>
            <key>textureFileName</key>
            <string>ui_icon_frame.png</string>
        </dict>
    </dict>
</plist>
