<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guxu/jingmai_gx_baihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,446},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>guxu/jingmai_gx_lingxu.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,368},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>guxu/jingmai_gx_mingmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,195},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>guxu/jingmai_gx_quchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,263},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>guxu/jingmai_gx_shenzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,381},{33,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,65}}</string>
                <key>sourceSize</key>
                <string>{33,65}</string>
            </dict>
            <key>guxu/jingmai_gx_yangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,447},{32,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,61}}</string>
                <key>sourceSize</key>
                <string>{32,61}</string>
            </dict>
            <key>guxu/jingmai_gx_yongquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,439},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>guxu/jingmai_gx_zhongshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,332},{34,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,65}}</string>
                <key>sourceSize</key>
                <string>{34,65}</string>
            </dict>
            <key>jingmai_anim.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jingmai_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,104},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>jingmai_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>jingmai_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,381},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jingmai_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,154},{108,106}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{108,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jingmai_anim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,154},{128,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,125}}</string>
                <key>sourceSize</key>
                <string>{128,125}</string>
            </dict>
            <key>jingmai_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,262},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>jingmai_bottom_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,45}}</string>
                <key>sourceSize</key>
                <string>{640,45}</string>
            </dict>
            <key>jingmai_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,439},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>jingmai_hero_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{640,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,33}}</string>
                <key>sourceSize</key>
                <string>{640,33}</string>
            </dict>
            <key>jingmai_hero_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{640,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,33}}</string>
                <key>sourceSize</key>
                <string>{640,33}</string>
            </dict>
            <key>jingmai_hero_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{640,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,33}}</string>
                <key>sourceSize</key>
                <string>{640,33}</string>
            </dict>
            <key>jingmai_icon_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,259},{79,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>jingmai_icon_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,363},{79,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>jingmai_item_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,333},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>jingmai_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,486},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>jingmai_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,452},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>jingmai_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,206},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>jingmai_line_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,262},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>jingmai_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,142},{51,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,129}}</string>
                <key>sourceSize</key>
                <string>{51,129}</string>
            </dict>
            <key>jingmai_prop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{350,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,96}}</string>
                <key>sourceSize</key>
                <string>{350,96}</string>
            </dict>
            <key>jingmai_prop_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,281},{169,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,41}}</string>
                <key>sourceSize</key>
                <string>{169,41}</string>
            </dict>
            <key>jingmai_prop_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{147,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,138}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>jingmai_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,477},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>jingmai_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,447},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>jingmai_star_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,154},{108,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,29}}</string>
                <key>sourceSize</key>
                <string>{108,29}</string>
            </dict>
            <key>jingmai_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,281},{123,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,128}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>jingmai_xijiangfamai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,195},{103,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,111}}</string>
                <key>sourceSize</key>
                <string>{103,111}</string>
            </dict>
            <key>jingmai_xijingfamai.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,154},{103,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,111}}</string>
                <key>sourceSize</key>
                <string>{103,111}</string>
            </dict>
            <key>jingmai_xuedao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,464},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>jingmai_xuedao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,436},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>jingmai_xuedao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,365},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>jingmai_xuedao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,404},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>shenwu/jingmai_sw_daling.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,300},{36,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,64}}</string>
                <key>sourceSize</key>
                <string>{36,64}</string>
            </dict>
            <key>shenwu/jingmai_sw_fengfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,264},{35,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,67}}</string>
                <key>sourceSize</key>
                <string>{35,67}</string>
            </dict>
            <key>shenwu/jingmai_sw_jiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,342},{37,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,67}}</string>
                <key>sourceSize</key>
                <string>{37,67}</string>
            </dict>
            <key>shenwu/jingmai_sw_quchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,448},{35,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,63}}</string>
                <key>sourceSize</key>
                <string>{35,63}</string>
            </dict>
            <key>shenwu/jingmai_sw_qugu.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,368},{31,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,66}}</string>
                <key>sourceSize</key>
                <string>{31,66}</string>
            </dict>
            <key>shenwu/jingmai_sw_weizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,300},{34,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,69}}</string>
                <key>sourceSize</key>
                <string>{34,69}</string>
            </dict>
            <key>shenwu/jingmai_sw_yunmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,336},{31,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,67}}</string>
                <key>sourceSize</key>
                <string>{31,67}</string>
            </dict>
            <key>shenwu/jingmai_sw_zigong.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,404},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>taiyi/jingmai_ty_chanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,369},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>taiyi/jingmai_ty_chongmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,411},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>taiyi/jingmai_ty_diji.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,446},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>taiyi/jingmai_ty_huagai.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,439},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,65}</string>
            </dict>
            <key>taiyi/jingmai_ty_lianquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,439},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,65}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>taiyi/jingmai_ty_neiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,479},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>taiyi/jingmai_ty_tiantu.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,298},{32,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,61}}</string>
                <key>sourceSize</key>
                <string>{32,61}</string>
            </dict>
            <key>taiyi/jingmai_ty_yinbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,404},{33,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,63}}</string>
                <key>sourceSize</key>
                <string>{33,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_jingmai.png</string>
            <key>size</key>
            <string>{820,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:616c25b758028a4bee9a6f879ebd9ca1:1/1$</string>
            <key>textureFileName</key>
            <string>ui_jingmai.png</string>
        </dict>
    </dict>
</plist>
