<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianghulu_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,37},{572,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,33}}</string>
                <key>sourceSize</key>
                <string>{572,33}</string>
            </dict>
            <key>jianghulu_bar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{572,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,33}}</string>
                <key>sourceSize</key>
                <string>{572,33}</string>
            </dict>
            <key>jianghulu_chengjiu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,215},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>jianghulu_cj_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,215},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>jianghulu_cj_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,215},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>jianghulu_cj_icon_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,72},{132,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,131}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>jianghulu_cj_icon_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,72},{132,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,131}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>jianghulu_cj_inner_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,384},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>jianghulu_cj_inner_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,384},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>jianghulu_cj_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,316},{143,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,92}}</string>
                <key>sourceSize</key>
                <string>{143,92}</string>
            </dict>
            <key>jianghulu_gobattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,215},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>jianghulu_goshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,215},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>jianghulu_haogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,126},{85,83}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{85,83}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>jianghulu_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,72},{114,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{114,140}</string>
            </dict>
            <key>jianghulu_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,215},{225,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,145}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>jianghulu_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,318}}</string>
                <key>sourceSize</key>
                <string>{284,318}</string>
            </dict>
            <key>jianghulu_left_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,302},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jianghulu_left_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,322},{103,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,137}}</string>
                <key>sourceSize</key>
                <string>{103,137}</string>
            </dict>
            <key>jianghulu_left_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{103,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,137}}</string>
                <key>sourceSize</key>
                <string>{103,137}</string>
            </dict>
            <key>jianghulu_love.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,159},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>jianghulu_love_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,126},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>jianghulu_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{307,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,47}}</string>
                <key>sourceSize</key>
                <string>{307,47}</string>
            </dict>
            <key>jianghulu_onekey_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,362},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>jianghulu_prop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{211,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,37}}</string>
                <key>sourceSize</key>
                <string>{211,37}</string>
            </dict>
            <key>jianghulu_prop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{211,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,37}}</string>
                <key>sourceSize</key>
                <string>{211,37}</string>
            </dict>
            <key>jianghulu_prop_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,362},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>jianghulu_sq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,72},{52,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,131}}</string>
                <key>sourceSize</key>
                <string>{52,131}</string>
            </dict>
            <key>jianghulu_sq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,72},{60,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,137}}</string>
                <key>sourceSize</key>
                <string>{60,139}</string>
            </dict>
            <key>jianghulu_xiakelu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,322},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_jianghulu.png</string>
            <key>size</key>
            <string>{992,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ee1bbebb328345d591d613313c0f046:1/1$</string>
            <key>textureFileName</key>
            <string>ui_jianghulu.png</string>
        </dict>
    </dict>
</plist>
