<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_magic_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>hero_tank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>hero_warrior_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_jobIcon.png</string>
            <key>size</key>
            <string>{54,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6dbc39028f3882e7871254ccfe2a512:1/1$</string>
            <key>textureFileName</key>
            <string>ui_jobIcon.png</string>
        </dict>
    </dict>
</plist>
