<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kongfu_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,161},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>kongfu_auto_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,161},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>kongfu_bar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,130},{176,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>kongfu_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,33},{176,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>kongfu_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{176,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>kongfu_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,174},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>kongfu_bottom_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{557,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,42}}</string>
                <key>sourceSize</key>
                <string>{557,42}</string>
            </dict>
            <key>kongfu_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,178},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>kongfu_change_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{309,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,62}}</string>
                <key>sourceSize</key>
                <string>{309,62}</string>
            </dict>
            <key>kongfu_chose_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{212,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,62}}</string>
                <key>sourceSize</key>
                <string>{212,62}</string>
            </dict>
            <key>kongfu_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,207},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>kongfu_diamond_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,144},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>kongfu_diamond_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,148},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>kongfu_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,110},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>kongfu_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,64},{62,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,27}}</string>
                <key>sourceSize</key>
                <string>{62,27}</string>
            </dict>
            <key>kongfu_frame_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{114,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{114,140}</string>
            </dict>
            <key>kongfu_jinglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,112},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>kongfu_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{32,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,4}}</string>
                <key>sourceSize</key>
                <string>{32,4}</string>
            </dict>
            <key>kongfu_prop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,144},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>kongfu_prop_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,46},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>kongfu_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,64},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>kongfu_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,46},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>kongfu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,217},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>kongfu_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,207},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>kongfu_xiexia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_kongfu.png</string>
            <key>size</key>
            <string>{855,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e71b66f5e176f9e5f36ea2157601e4f:1/1$</string>
            <key>textureFileName</key>
            <string>ui_kongfu.png</string>
        </dict>
    </dict>
</plist>
