<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhua_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,229},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>lianhua_chongsheng_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,71},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>lianhua_chongsheng_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,105},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>lianhua_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,349},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>lianhua_lianhua_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,435},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>lianhua_lianhua_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,54},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>lianhua_note_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,368},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>lianhua_shop_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,388},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>lianhua_sub_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{104,104}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>lianhualu_add_sz_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,369},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>lianhualu_add_wx_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,303},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>lianhualu_add_xk_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,237},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>lianhualu_add_zb_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,171},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>lianhualu_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>lianhualu_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,446},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>lianhualu_bottom_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,263},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>lianhualu_bottom_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,285},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>lianhualu_btn_lianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{200,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,75}}</string>
                <key>sourceSize</key>
                <string>{202,75}</string>
            </dict>
            <key>lianhualu_equip_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,183},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>lianhualu_equip_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,440},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>lianhualu_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,446},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>lianhualu_hero_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,131},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>lianhualu_hero_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,388},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>lianhualu_huanyipi.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,235},{148,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,65}}</string>
                <key>sourceSize</key>
                <string>{148,65}</string>
            </dict>
            <key>lianhualu_luzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,384}}</string>
                <key>sourceSize</key>
                <string>{550,384}</string>
            </dict>
            <key>lianhualu_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,105},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>lianhualu_refine_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,302},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>lianhualu_shizhuang_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,440},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>lianhualu_shizhuang_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>lianhualu_skill_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,79},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>lianhualu_skill_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,388},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_lianhualu.png</string>
            <key>size</key>
            <string>{993,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f886519d8ffed105f474287d78547459:1/1$</string>
            <key>textureFileName</key>
            <string>ui_lianhualu.png</string>
        </dict>
    </dict>
</plist>
