<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,221}}</string>
                <key>sourceSize</key>
                <string>{221,221}</string>
            </dict>
            <key>login_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{192,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,72}}</string>
                <key>sourceSize</key>
                <string>{192,72}</string>
            </dict>
            <key>login_enter_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{192,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{192,72}}</string>
                <key>sourceSize</key>
                <string>{202,82}</string>
            </dict>
            <key>login_enter_game_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{202,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,82}}</string>
                <key>sourceSize</key>
                <string>{202,82}</string>
            </dict>
            <key>login_hua_wen.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,225},{96,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,16}}</string>
                <key>sourceSize</key>
                <string>{96,16}</string>
            </dict>
            <key>login_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,491},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>login_input_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{279,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,48}}</string>
                <key>sourceSize</key>
                <string>{279,48}</string>
            </dict>
            <key>login_label_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,457},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>login_server_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,519},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>login_server_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,676},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>login_server_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,457},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>login_server_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,457},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>login_shaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,616},{60,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>login_state_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,728},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>login_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>login_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,678},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>login_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,735},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>login_state_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,735},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>login_tag_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,595},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>login_tag_re.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,533},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_login.png</string>
            <key>size</key>
            <string>{225,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:608a8f6e5754ee98d30a71c2bd8e8e70:1/1$</string>
            <key>textureFileName</key>
            <string>ui_login.png</string>
        </dict>
    </dict>
</plist>
