<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,400},{136,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{136,48}}</string>
                <key>sourceSize</key>
                <string>{142,54}</string>
            </dict>
            <key>cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,798},{151,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{151,60}}</string>
                <key>sourceSize</key>
                <string>{153,64}</string>
            </dict>
            <key>homeBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1},{398,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,240}}</string>
                <key>sourceSize</key>
                <string>{398,240}</string>
            </dict>
            <key>homeBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,683},{199,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,204}}</string>
                <key>sourceSize</key>
                <string>{199,204}</string>
            </dict>
            <key>homeBg_front_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{168,681}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,681}}</string>
                <key>sourceSize</key>
                <string>{168,681}</string>
            </dict>
            <key>homeBg_front_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{354,878}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,878}}</string>
                <key>sourceSize</key>
                <string>{354,878}</string>
            </dict>
            <key>homebg_front_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1},{796,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,256}}</string>
                <key>sourceSize</key>
                <string>{796,256}</string>
            </dict>
            <key>leftLamp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,532},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>leftUpLamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,798},{46,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,69}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>leftUpLamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,821},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>niao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,614},{30,37}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{30,37}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>niao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,575},{38,31}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{38,31}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>niao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,635},{36,15}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,33},{36,15}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>niao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,477},{54,35}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{54,35}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>rightUpLamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,607},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>rightUpLamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,798},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>xiaoqizi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,728},{92,78}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{92,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,556},{94,78}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{94,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,528},{96,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{96,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,672},{96,76}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{96,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,477},{94,78}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{94,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,635},{92,78}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{92,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,769},{94,78}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{94,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,449},{96,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{96,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,400},{96,76}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{96,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_mm_day.pvr.ccz</string>
            <key>size</key>
            <string>{1023,883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f96b1301cb73e53ca7e00c3f83bb62f:1/1$</string>
            <key>textureFileName</key>
            <string>ui_mm_day.pvr.ccz</string>
        </dict>
    </dict>
</plist>
