<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mm_change_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,97},{62,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,34}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>mm_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,95},{154,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,32}}</string>
                <key>sourceSize</key>
                <string>{154,32}</string>
            </dict>
            <key>mm_energy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,117},{178,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,22}}</string>
                <key>sourceSize</key>
                <string>{178,22}</string>
            </dict>
            <key>mm_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,97},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>mm_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,93},{178,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,22}}</string>
                <key>sourceSize</key>
                <string>{178,22}</string>
            </dict>
            <key>mm_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,110},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>mm_icon_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,36},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>mm_icon_female_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>mm_icon_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>mm_icon_male_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>mm_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,97},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>mm_lv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,97},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>mm_naili.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,97},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>mm_naili_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,69},{178,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,22}}</string>
                <key>sourceSize</key>
                <string>{178,22}</string>
            </dict>
            <key>mm_note_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{640,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,32}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
            <key>mm_player_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,36},{230,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,31}}</string>
                <key>sourceSize</key>
                <string>{230,31}</string>
            </dict>
            <key>mm_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>mm_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,97},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>mm_tili_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,95},{178,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,22}}</string>
                <key>sourceSize</key>
                <string>{178,22}</string>
            </dict>
            <key>mm_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>mm_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,110},{54,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,23}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>mm_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,36},{312,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,57}}</string>
                <key>sourceSize</key>
                <string>{312,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_main_menu.pvr.ccz</string>
            <key>size</key>
            <string>{1022,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53f1827bdd4f54f9fe689b6f936a2d65:1/1$</string>
            <key>textureFileName</key>
            <string>ui_main_menu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
