<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>homeBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,367},{398,226}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,226}}</string>
                <key>sourceSize</key>
                <string>{398,240}</string>
            </dict>
            <key>homeBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1},{357,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,365}}</string>
                <key>sourceSize</key>
                <string>{357,365}</string>
            </dict>
            <key>homeBg_front_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1},{168,637}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{168,637}}</string>
                <key>sourceSize</key>
                <string>{168,681}</string>
            </dict>
            <key>homeBg_front_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{336,876}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{336,876}}</string>
                <key>sourceSize</key>
                <string>{354,878}</string>
            </dict>
            <key>home_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,741},{252,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,236}}</string>
                <key>sourceSize</key>
                <string>{252,236}</string>
            </dict>
            <key>homebg_front_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,594},{398,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,146}}</string>
                <key>sourceSize</key>
                <string>{398,146}</string>
            </dict>
            <key>lamp_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,741},{127,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
            <key>leftLamp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,159},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>leftUpLamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,639},{46,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,69}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>leftUpLamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,898},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>meteor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,878},{221,15}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{221,15}}</string>
                <key>sourceSize</key>
                <string>{221,17}</string>
            </dict>
            <key>niao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,871},{18,36}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{18,36}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>niao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,949},{40,28}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{40,28}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>niao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,718},{52,14}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,37},{52,14}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>niao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,639},{20,34}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{20,34}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>niao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,948},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{34,24}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>niao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,337},{44,26}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{44,26}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>rightUpLamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,159},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>rightUpLamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,252},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,741},{226,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,156}}</string>
                <key>sourceSize</key>
                <string>{228,156}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,364},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>xiaoqizi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,80},{92,78}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{92,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,878},{94,78}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{94,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,898},{96,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{96,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,871},{96,76}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{96,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,894},{94,78}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{94,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1},{92,78}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{92,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,894},{94,78}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{94,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,639},{96,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{96,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoqizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,898},{96,76}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{96,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_mm_night.pvr.ccz</string>
            <key>size</key>
            <string>{958,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15dbfab261f62bd0e05fb9006528cce1:1/1$</string>
            <key>textureFileName</key>
            <string>ui_mm_night.pvr.ccz</string>
        </dict>
    </dict>
</plist>
