<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,411},{112,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,101}}</string>
                <key>sourceSize</key>
                <string>{112,101}</string>
            </dict>
            <key>btn_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,443},{87,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,100}}</string>
                <key>sourceSize</key>
                <string>{87,100}</string>
            </dict>
            <key>btn_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,356},{184,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,54}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>buttom_bng.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,531},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>buttom_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,323},{219,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,32}}</string>
                <key>sourceSize</key>
                <string>{219,32}</string>
            </dict>
            <key>center_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{321,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,254}}</string>
                <key>sourceSize</key>
                <string>{321,254}</string>
            </dict>
            <key>main_bng.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,952}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,952}}</string>
                <key>sourceSize</key>
                <string>{640,952}</string>
            </dict>
            <key>nbhuodong_mgwabao.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,513},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>tag_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,323},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>title_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,402},{67,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,40}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_nbactivity_wabao.png</string>
            <key>size</key>
            <string>{897,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2d9bc71b9da74f0e29497a06ea0be6:1/1$</string>
            <key>textureFileName</key>
            <string>ui_nbactivity_wabao.png</string>
        </dict>
    </dict>
</plist>
