<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>divier.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,184},{4,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,172}}</string>
                <key>sourceSize</key>
                <string>{4,172}</string>
            </dict>
            <key>red_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,139},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>title_bng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{380,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,52}}</string>
                <key>sourceSize</key>
                <string>{380,52}</string>
            </dict>
            <key>title_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,137}}</string>
                <key>sourceSize</key>
                <string>{640,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_nbactivity_xianshishangdian.png</string>
            <key>size</key>
            <string>{642,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:183afef370625ff6c98c3f661b413735:1/1$</string>
            <key>textureFileName</key>
            <string>ui_nbactivity_xianshishangdian.png</string>
        </dict>
    </dict>
</plist>
