<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reward_btn_large_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,67},{148,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,65}}</string>
                <key>sourceSize</key>
                <string>{148,65}</string>
            </dict>
            <key>reward_btn_large_lingqu_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{148,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,65}}</string>
                <key>sourceSize</key>
                <string>{148,65}</string>
            </dict>
            <key>reward_btn_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,190},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>reward_btn_lingqu_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1},{148,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,65}}</string>
                <key>sourceSize</key>
                <string>{148,65}</string>
            </dict>
            <key>reward_btn_lingqu_all_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{148,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,65}}</string>
                <key>sourceSize</key>
                <string>{148,65}</string>
            </dict>
            <key>reward_btn_lingqu_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,133},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>reward_btn_qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>reward_btn_qiandao_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_reward_btns.png</string>
            <key>size</key>
            <string>{299,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bae9a14789c972e03025355a7c66d0b2:1/1$</string>
            <key>textureFileName</key>
            <string>ui_reward_btns.png</string>
        </dict>
    </dict>
</plist>
