<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smShop_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{345,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,636}}</string>
                <key>sourceSize</key>
                <string>{345,636}</string>
            </dict>
            <key>sm_btn_lianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,698},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>sm_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>sm_item_bg_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,796},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>sm_item_btn_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,716},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>sm_item_btn_duihuan_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,640},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>sm_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,698},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>sm_refresh_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{199,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,74}}</string>
                <key>sourceSize</key>
                <string>{199,74}</string>
            </dict>
            <key>sm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,644},{148,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,40}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>sm_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{640,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,65}}</string>
                <key>sourceSize</key>
                <string>{640,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_shenmiShop.png</string>
            <key>size</key>
            <string>{416,847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70ef366006d7e1350e38cc5b0d6bf6dd:1/1$</string>
            <key>textureFileName</key>
            <string>ui_shenmiShop.png</string>
        </dict>
    </dict>
</plist>
