<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,907},{29,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,433}}</string>
                <key>sourceSize</key>
                <string>{29,433}</string>
            </dict>
            <key>shop_bottom_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,74},{20,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,111}}</string>
                <key>sourceSize</key>
                <string>{20,111}</string>
            </dict>
            <key>shop_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,830},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>shop_buy_tools_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,945},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>shop_denglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,830},{114,281}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,281}}</string>
                <key>sourceSize</key>
                <string>{116,283}</string>
            </dict>
            <key>shop_first_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,380},{181,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,38}}</string>
                <key>sourceSize</key>
                <string>{181,38}</string>
            </dict>
            <key>shop_first_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,203},{182,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,38}}</string>
                <key>sourceSize</key>
                <string>{182,38}</string>
            </dict>
            <key>shop_gift_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,197},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>shop_gift_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,957},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>shop_label_zunxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,830},{76,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,21}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>shop_list_inner_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,945},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>shop_preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{192,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,72}}</string>
                <key>sourceSize</key>
                <string>{192,72}</string>
            </dict>
            <key>shop_pub_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,569},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>shop_pub_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,937},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>shop_pub_hero_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,112},{206,508}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,508}}</string>
                <key>sourceSize</key>
                <string>{208,510}</string>
            </dict>
            <key>shop_pub_hero_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,623},{206,508}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,508}}</string>
                <key>sourceSize</key>
                <string>{208,510}</string>
            </dict>
            <key>shop_pub_hero_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,623},{206,510}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,510}}</string>
                <key>sourceSize</key>
                <string>{208,510}</string>
            </dict>
            <key>shop_pub_hero_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,112},{206,510}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,510}}</string>
                <key>sourceSize</key>
                <string>{208,510}</string>
            </dict>
            <key>shop_pub_hero_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,112},{206,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,510}}</string>
                <key>sourceSize</key>
                <string>{208,510}</string>
            </dict>
            <key>shop_pub_hero_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,112},{206,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,510}}</string>
                <key>sourceSize</key>
                <string>{208,510}</string>
            </dict>
            <key>shop_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,103},{136,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,99}}</string>
                <key>sourceSize</key>
                <string>{136,99}</string>
            </dict>
            <key>shop_scroll_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,959},{193,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{193,54}}</string>
                <key>sourceSize</key>
                <string>{193,56}</string>
            </dict>
            <key>shop_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1},{195,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,2}}</string>
                <key>sourceSize</key>
                <string>{195,2}</string>
            </dict>
            <key>shop_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>shop_tab_item_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,907},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>shop_tab_item_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,386},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>shop_top_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,830},{640,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,76}}</string>
                <key>sourceSize</key>
                <string>{640,76}</string>
            </dict>
            <key>shop_vip_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,959},{49,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,20}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>shop_vip_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,937},{236,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,21}}</string>
                <key>sourceSize</key>
                <string>{238,25}</string>
            </dict>
            <key>shop_wine.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,945},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>show_show_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,103},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>show_show_gaoshou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,386},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>show_show_gaoshou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,203},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>show_show_nb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,386},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>show_show_nb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,203},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>show_show_xinxiu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,52},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>show_show_xinxiu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_shop.png</string>
            <key>size</key>
            <string>{1021,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14f79d4f4347eb051fc9b3c1c792a16d:1/1$</string>
            <key>textureFileName</key>
            <string>ui_shop.png</string>
        </dict>
    </dict>
</plist>
