<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,474},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>levelinfo_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,85},{1,1}}</string>
                <key>offset</key>
                <string>{-260,63.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{521,128}</string>
            </dict>
            <key>levelinfo_boss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,342},{158,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,159}}</string>
                <key>sourceSize</key>
                <string>{158,159}</string>
            </dict>
            <key>levelinfo_boss_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,377},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,98}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>levelinfo_bottom_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,40},{217,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,43}}</string>
                <key>sourceSize</key>
                <string>{217,43}</string>
            </dict>
            <key>levelinfo_btn_zhandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,288},{111,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,76}}</string>
                <key>sourceSize</key>
                <string>{111,76}</string>
            </dict>
            <key>levelinfo_btn_zhandou_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,264},{111,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,76}}</string>
                <key>sourceSize</key>
                <string>{111,76}</string>
            </dict>
            <key>levelinfo_btn_zhantimes.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,151},{111,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,76}}</string>
                <key>sourceSize</key>
                <string>{111,76}</string>
            </dict>
            <key>levelinfo_btn_zhantimes_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,428},{111,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,76}}</string>
                <key>sourceSize</key>
                <string>{111,76}</string>
            </dict>
            <key>levelinfo_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,366},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>levelinfo_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,264},{114,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>levelinfo_easy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,478},{85,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>levelinfo_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,474},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>levelinfo_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,196},{114,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>levelinfo_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,175},{114,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>levelinfo_hard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,478},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>levelinfo_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{245,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,113}}</string>
                <key>sourceSize</key>
                <string>{245,113}</string>
            </dict>
            <key>levelinfo_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{237,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,36}}</string>
                <key>sourceSize</key>
                <string>{237,36}</string>
            </dict>
            <key>levelinfo_naili_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,528},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>levelinfo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,151},{114,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>levelinfo_normal_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,477},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>levelinfo_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{499,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,80}}</string>
                <key>sourceSize</key>
                <string>{499,80}</string>
            </dict>
            <key>levelinfo_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,503},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>levelinfo_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,366},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>levelinfo_tili_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,457},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>submap_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,377},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>submap_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,457},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>submap_bottom_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{571,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,43}}</string>
                <key>sourceSize</key>
                <string>{573,45}</string>
            </dict>
            <key>submap_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{373,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,55}}</string>
                <key>sourceSize</key>
                <string>{373,57}</string>
            </dict>
            <key>submap_box_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,506},{67,57}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{67,57}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>submap_box_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,506},{71,57}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{71,57}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>submap_box_close_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,411},{73,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{73,61}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>submap_box_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,47},{79,63}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{79,63}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>submap_box_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,447},{79,59}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{79,59}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>submap_box_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,506},{79,57}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{79,57}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>submap_box_open_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,422},{79,61}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{79,61}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>submap_box_open_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,274},{83,59}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{83,59}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>submap_box_open_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,503},{81,59}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{81,59}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>submap_box_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,85},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>submap_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,85},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>submap_btn_jinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,234},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>submap_btn_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,47},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>submap_btn_use_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,168},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>submap_buzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,163},{59,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,109}}</string>
                <key>sourceSize</key>
                <string>{59,109}</string>
            </dict>
            <key>submap_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,85},{1,1}}</string>
                <key>offset</key>
                <string>{-49,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>submap_icon_copper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>submap_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,47},{148,126}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,126}}</string>
                <key>sourceSize</key>
                <string>{150,144}</string>
            </dict>
            <key>submap_icon_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,300},{126,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,110}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>submap_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,44},{195,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,1}}</string>
                <key>sourceSize</key>
                <string>{195,1}</string>
            </dict>
            <key>submap_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{369,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,54}}</string>
                <key>sourceSize</key>
                <string>{369,54}</string>
            </dict>
            <key>submap_reward_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,85},{1,1}}</string>
                <key>offset</key>
                <string>{-26,26.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>submap_reward_star_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,359},{104,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,26}}</string>
                <key>sourceSize</key>
                <string>{106,30}</string>
            </dict>
            <key>submap_star_addBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{497,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,37}}</string>
                <key>sourceSize</key>
                <string>{497,37}</string>
            </dict>
            <key>submap_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>submap_star_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,524},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>submap_star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,524},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>submap_star_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,300},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>submap_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{368,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,59}}</string>
                <key>sourceSize</key>
                <string>{368,59}</string>
            </dict>
            <key>submap_zhenrong_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,312},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_submap.png</string>
            <key>size</key>
            <string>{1010,565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed740efa9fd4eeff204eee4fd1e244b4:1/1$</string>
            <key>textureFileName</key>
            <string>ui_submap.png</string>
        </dict>
    </dict>
</plist>
