<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>s_cdkey.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,44},{154,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,40}}</string>
                <key>sourceSize</key>
                <string>{154,40}</string>
            </dict>
            <key>s_cdkey_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,42},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>s_handbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{87,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,38}}</string>
                <key>sourceSize</key>
                <string>{87,38}</string>
            </dict>
            <key>s_music_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{154,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,40}}</string>
                <key>sourceSize</key>
                <string>{154,40}</string>
            </dict>
            <key>s_music_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>s_music_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,44},{154,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,40}}</string>
                <key>sourceSize</key>
                <string>{154,40}</string>
            </dict>
            <key>s_music_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>s_ok_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>s_return_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>s_return_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{154,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,40}}</string>
                <key>sourceSize</key>
                <string>{154,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_setting.png</string>
            <key>size</key>
            <string>{962,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:518c9bac707ff0331bd85589b95f2c0d:1/1$</string>
            <key>textureFileName</key>
            <string>ui_setting.png</string>
        </dict>
    </dict>
</plist>
