<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spirit_right_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,267},{31,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{31,25}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>spirit_upgrade_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,426},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>spirit_upgrade_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{603,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,41}}</string>
                <key>sourceSize</key>
                <string>{603,41}</string>
            </dict>
            <key>spirit_upgrade_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{603,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,41}}</string>
                <key>sourceSize</key>
                <string>{603,41}</string>
            </dict>
            <key>spirit_upgrade_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,202},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>spirit_upgrade_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,360}}</string>
                <key>sourceSize</key>
                <string>{639,360}</string>
            </dict>
            <key>spirit_upgrade_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{603,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,41}}</string>
                <key>sourceSize</key>
                <string>{603,41}</string>
            </dict>
            <key>spirit_upgrade_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,360},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>spirit_upgrade_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,202},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>spirit_upgrade_huabian.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,202},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>spirit_upgrade_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>spirit_upgrade_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,294},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>spirit_upgrade_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{290,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,5}}</string>
                <key>sourceSize</key>
                <string>{290,5}</string>
            </dict>
            <key>spirit_upgrade_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,294},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_spirit_upgrade.png</string>
            <key>size</key>
            <string>{850,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e98ff270e8aeadcd66e729b1f0f6865:1/1$</string>
            <key>textureFileName</key>
            <string>ui_spirit_upgrade.png</string>
        </dict>
    </dict>
</plist>
