<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spirit_count_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1248},{156,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,29}}</string>
                <key>sourceSize</key>
                <string>{156,29}</string>
            </dict>
            <key>spirit_equip_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1708},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>spirit_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1654},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>spirit_huabian.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1158},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>spirit_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1401},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>spirit_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1248},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>spirit_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1096},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>spirit_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,943},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>spirit_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,790},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>spirit_icon_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1959},{98,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,27}}</string>
                <key>sourceSize</key>
                <string>{98,31}</string>
            </dict>
            <key>spirit_icon_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1930},{98,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,27}}</string>
                <key>sourceSize</key>
                <string>{98,31}</string>
            </dict>
            <key>spirit_icon_label_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1220},{98,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,27}}</string>
                <key>sourceSize</key>
                <string>{98,31}</string>
            </dict>
            <key>spirit_icon_label_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1985},{98,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,27}}</string>
                <key>sourceSize</key>
                <string>{98,31}</string>
            </dict>
            <key>spirit_icon_label_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1809},{98,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,27}}</string>
                <key>sourceSize</key>
                <string>{98,31}</string>
            </dict>
            <key>spirit_info_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1824},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>spirit_item_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1353},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>spirit_ju10_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1838},{90,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>spirit_jy_anim.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1887},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>spirit_jy_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1406},{142,49}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{142,49}}</string>
                <key>sourceSize</key>
                <string>{142,69}</string>
            </dict>
            <key>spirit_jy_icon_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1708},{106,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,114}</string>
            </dict>
            <key>spirit_jy_icon_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1930},{47,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,69}}</string>
                <key>sourceSize</key>
                <string>{47,69}</string>
            </dict>
            <key>spirit_label_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1606},{96,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,31}}</string>
                <key>sourceSize</key>
                <string>{96,31}</string>
            </dict>
            <key>spirit_m_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1006},{618,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,21}}</string>
                <key>sourceSize</key>
                <string>{618,21}</string>
            </dict>
            <key>spirit_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1550},{102,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,33}}</string>
                <key>sourceSize</key>
                <string>{102,33}</string>
            </dict>
            <key>spirit_p_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1641},{244,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{244,207}}</string>
                <key>sourceSize</key>
                <string>{252,215}</string>
            </dict>
            <key>spirit_p_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1648},{244,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{244,207}}</string>
                <key>sourceSize</key>
                <string>{252,215}</string>
            </dict>
            <key>spirit_p_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1006},{252,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,215}}</string>
                <key>sourceSize</key>
                <string>{252,215}</string>
            </dict>
            <key>spirit_p_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1432},{244,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{244,207}}</string>
                <key>sourceSize</key>
                <string>{252,215}</string>
            </dict>
            <key>spirit_p_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1223},{244,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{244,207}}</string>
                <key>sourceSize</key>
                <string>{252,215}</string>
            </dict>
            <key>spirit_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1887},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>spirit_silver_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1320},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>spirit_super_jy.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1606},{146,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,100}}</string>
                <key>sourceSize</key>
                <string>{146,100}</string>
            </dict>
            <key>spirit_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>spirit_tab_juy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1554},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>spirit_tab_juy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,974},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>spirit_tab_jy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1968},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>spirit_tab_jy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,790},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>spirit_top_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,364},{640,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,82}}</string>
                <key>sourceSize</key>
                <string>{640,82}</string>
            </dict>
            <key>spirit_voice_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1006},{640,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,32}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
            <key>spirit_zhandouli_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1923},{92,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,49}}</string>
                <key>sourceSize</key>
                <string>{92,49}</string>
            </dict>
            <key>spirite_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{640,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,351}}</string>
                <key>sourceSize</key>
                <string>{640,351}</string>
            </dict>
            <key>spirite_fog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,585},{203,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,198}}</string>
                <key>sourceSize</key>
                <string>{203,198}</string>
            </dict>
            <key>spirite_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,360}}</string>
                <key>sourceSize</key>
                <string>{639,360}</string>
            </dict>
            <key>spirte_fog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,364},{219,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,202}}</string>
                <key>sourceSize</key>
                <string>{219,202}</string>
            </dict>
            <key>sprite_juyuan_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{178,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,72}}</string>
                <key>sourceSize</key>
                <string>{178,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_spirit.png</string>
            <key>size</key>
            <string>{643,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb1434fab0cefe02ccc5cd292634df5:1/1$</string>
            <key>textureFileName</key>
            <string>ui_spirit.png</string>
        </dict>
    </dict>
</plist>
