<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,55},{49,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,93}}</string>
                <key>sourceSize</key>
                <string>{49,93}</string>
            </dict>
            <key>chat_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{341,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,51}}</string>
                <key>sourceSize</key>
                <string>{341,51}</string>
            </dict>
            <key>tuto_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,55},{97,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,125}}</string>
                <key>sourceSize</key>
                <string>{97,125}</string>
            </dict>
            <key>tuto_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,470}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{272,470}}</string>
                <key>sourceSize</key>
                <string>{284,500}</string>
            </dict>
            <key>tuto_msgbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,55},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
            <key>tuto_msgfrom.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,128},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_tutorial.png</string>
            <key>size</key>
            <string>{619,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f168ba770081f49d49f7ae4ad475e945:1/1$</string>
            <key>textureFileName</key>
            <string>ui_tutorial.png</string>
        </dict>
    </dict>
</plist>
