<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1146},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>bng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,606}}</string>
                <key>sourceSize</key>
                <string>{640,606}</string>
            </dict>
            <key>countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1112},{120,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,34}}</string>
                <key>sourceSize</key>
                <string>{120,34}</string>
            </dict>
            <key>huanggongtanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,843},{169,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,52}}</string>
                <key>sourceSize</key>
                <string>{169,52}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1242},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>jifenbng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,644},{197,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,58}}</string>
                <key>sourceSize</key>
                <string>{197,58}</string>
            </dict>
            <key>jifenbng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,644},{316,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,33}}</string>
                <key>sourceSize</key>
                <string>{316,33}</string>
            </dict>
            <key>mianfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1146},{173,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,84}}</string>
                <key>sourceSize</key>
                <string>{173,84}</string>
            </dict>
            <key>progressbng.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,644},{440,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{440,23}}</string>
                <key>sourceSize</key>
                <string>{446,31}</string>
            </dict>
            <key>progressbngnull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1113},{446,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,31}}</string>
                <key>sourceSize</key>
                <string>{446,31}</string>
            </dict>
            <key>shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1014},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>tanbaoshici.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1148},{172,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,83}}</string>
                <key>sourceSize</key>
                <string>{172,83}</string>
            </dict>
            <key>tanbaoyici.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1232},{172,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,83}}</string>
                <key>sourceSize</key>
                <string>{172,83}</string>
            </dict>
            <key>zhuanpandizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{476,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,467}}</string>
                <key>sourceSize</key>
                <string>{476,467}</string>
            </dict>
            <key>zhuanpanyuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_tanbao.png</string>
            <key>size</key>
            <string>{610,1347}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c1eb082d9414ff50a7885b4628f36ca$</string>
            <key>textureFileName</key>
            <string>ui_tanbao.png</string>
        </dict>
    </dict>
</plist>
