<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vipLibao_getReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>vipLibao_getReward_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>vipLibao_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{81,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{81,85}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>vipLibao_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{186,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,6}}</string>
                <key>sourceSize</key>
                <string>{186,6}</string>
            </dict>
            <key>vipLibao_newPrice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{186,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,31}}</string>
                <key>sourceSize</key>
                <string>{188,31}</string>
            </dict>
            <key>vipLibao_oldPrice.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,69},{61,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,31}}</string>
                <key>sourceSize</key>
                <string>{61,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_vipLibao.png</string>
            <key>size</key>
            <string>{369,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28d0ead7dd02cbf0e85c4c79fe368f1c:1/1$</string>
            <key>textureFileName</key>
            <string>ui_vipLibao.png</string>
        </dict>
    </dict>
</plist>
