<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sh_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,665},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>sh_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,540},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>sh_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,538},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>sh_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,413},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>sh_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,286},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>sh_lv_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,792},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>sh_lv_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,802},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>sh_lv_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,673},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>sh_lv_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>sh_lv_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>sh_mark_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,665},{93,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,106}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>sh_mark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,667},{82,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,109}}</string>
                <key>sourceSize</key>
                <string>{82,109}</string>
            </dict>
            <key>sh_mark_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,926},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>sh_mark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,673},{81,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,109}}</string>
                <key>sourceSize</key>
                <string>{81,109}</string>
            </dict>
            <key>sh_mark_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,589},{82,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,108}}</string>
                <key>sourceSize</key>
                <string>{82,108}</string>
            </dict>
            <key>sh_mark_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,921},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>sh_mark_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,841},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>sh_mark_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,836},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>sh_mark_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,756},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>sh_mark_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,862},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>sh_mark_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,751},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>sh_name_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,624},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>sh_name_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,972},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>sh_name_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,921},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>sh_name_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,970},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>sh_name_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,935},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>sh_name_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,931},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>sh_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,131},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>support_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,773},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>support_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,535},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>wj_blood_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,315},{297,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,25}}</string>
                <key>sourceSize</key>
                <string>{297,25}</string>
            </dict>
            <key>wj_blood_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{297,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,25}}</string>
                <key>sourceSize</key>
                <string>{297,25}</string>
            </dict>
            <key>wj_boss_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,315},{307,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,47}}</string>
                <key>sourceSize</key>
                <string>{307,47}</string>
            </dict>
            <key>wj_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,890},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>wj_buzhen_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,792},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>wj_extraReward_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,488},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>wj_extra_mark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,624},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>wj_extra_mark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,816},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>wj_extra_mark_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,756},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>wj_extra_mark_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,196},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>wj_extra_mark_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,876},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>wj_extra_titleBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,286},{221,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,44}}</string>
                <key>sourceSize</key>
                <string>{221,44}</string>
            </dict>
            <key>wj_extra_titleBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,315},{221,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,44}}</string>
                <key>sourceSize</key>
                <string>{221,44}</string>
            </dict>
            <key>wj_extra_titleBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,240},{221,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,44}}</string>
                <key>sourceSize</key>
                <string>{221,44}</string>
            </dict>
            <key>wj_extra_titleBg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,194},{221,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,44}}</string>
                <key>sourceSize</key>
                <string>{221,44}</string>
            </dict>
            <key>wj_extra_titleBg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,315},{221,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,44}}</string>
                <key>sourceSize</key>
                <string>{221,44}</string>
            </dict>
            <key>wj_fuhuo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,194},{240,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{240,119}}</string>
                <key>sourceSize</key>
                <string>{250,123}</string>
            </dict>
            <key>wj_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,509},{32,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,4}}</string>
                <key>sourceSize</key>
                <string>{32,4}</string>
            </dict>
            <key>wj_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,692},{241,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,42}}</string>
                <key>sourceSize</key>
                <string>{241,42}</string>
            </dict>
            <key>wj_result_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,756},{92,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,8}}</string>
                <key>sourceSize</key>
                <string>{92,8}</string>
            </dict>
            <key>wj_result_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{496,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,38}}</string>
                <key>sourceSize</key>
                <string>{496,38}</string>
            </dict>
            <key>wj_result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,315},{218,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,88}}</string>
                <key>sourceSize</key>
                <string>{218,88}</string>
            </dict>
            <key>wj_result_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,190}}</string>
                <key>sourceSize</key>
                <string>{489,190}</string>
            </dict>
            <key>wj_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,387},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>wj_reward_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,286},{221,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,44}}</string>
                <key>sourceSize</key>
                <string>{221,44}</string>
            </dict>
            <key>wj_shuchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,286},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_weijiao_yishou.png</string>
            <key>size</key>
            <string>{571,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34df760fc4474f443d02549f5df7805a:1/1$</string>
            <key>textureFileName</key>
            <string>ui_weijiao_yishou.png</string>
        </dict>
    </dict>
</plist>
