<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win_base_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,211}}</string>
                <key>sourceSize</key>
                <string>{176,211}</string>
            </dict>
            <key>win_base_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,211}}</string>
                <key>sourceSize</key>
                <string>{176,211}</string>
            </dict>
            <key>win_base_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{170,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{170,166}}</string>
                <key>sourceSize</key>
                <string>{178,174}</string>
            </dict>
            <key>win_base_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,113},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>win_base_inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,8},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>win_base_inner_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,170},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>win_base_inner_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,58},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>win_base_inner_bg_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{107,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,100}}</string>
                <key>sourceSize</key>
                <string>{107,100}</string>
            </dict>
            <key>win_base_inner_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,113},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>win_base_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,208},{290,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,5}}</string>
                <key>sourceSize</key>
                <string>{290,5}</string>
            </dict>
            <key>win_base_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,107},{32,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,4}}</string>
                <key>sourceSize</key>
                <string>{32,4}</string>
            </dict>
            <key>win_base_line_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{32,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,4}}</string>
                <key>sourceSize</key>
                <string>{32,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_window_base.png</string>
            <key>size</key>
            <string>{697,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b8d0da6215f03a10921f23c92e3e7c1:1/1$</string>
            <key>textureFileName</key>
            <string>ui_window_base.png</string>
        </dict>
    </dict>
</plist>
