<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiake_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,794},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>xiake_gs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,685},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>xiake_gs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,685},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>xiake_hj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,685},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>xiake_hj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,685},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>xiake_xx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,633},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>xiake_xx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,581},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>xiakelu_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,754},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>xiakelu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,645},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>xiakelu_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{577,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,441}}</string>
                <key>sourceSize</key>
                <string>{577,441}</string>
            </dict>
            <key>xiakelu_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{114,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{114,140}</string>
            </dict>
            <key>xiakelu_inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,644},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>xiakelu_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>xiakelu_love.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,754},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>xiakelu_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{640,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>xiakelu_total_haogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,581},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>xiakelu_total_love.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,581},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_xiakelu.png</string>
            <key>size</key>
            <string>{527,869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b39f28f47a3095540dac4a9a56331aea:1/1$</string>
            <key>textureFileName</key>
            <string>ui_xiakelu.png</string>
        </dict>
    </dict>
</plist>
