<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,346},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>car_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,185},{165,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,138}}</string>
                <key>sourceSize</key>
                <string>{165,138}</string>
            </dict>
            <key>car_01_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,264},{192,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,164}}</string>
                <key>sourceSize</key>
                <string>{192,164}</string>
            </dict>
            <key>car_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1},{185,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,183}}</string>
                <key>sourceSize</key>
                <string>{185,183}</string>
            </dict>
            <key>car_02_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1},{211,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,209}}</string>
                <key>sourceSize</key>
                <string>{211,209}</string>
            </dict>
            <key>car_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1},{196,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,182}}</string>
                <key>sourceSize</key>
                <string>{196,182}</string>
            </dict>
            <key>car_03_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,230},{222,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,208}}</string>
                <key>sourceSize</key>
                <string>{222,208}</string>
            </dict>
            <key>car_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1},{200,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,203}}</string>
                <key>sourceSize</key>
                <string>{200,203}</string>
            </dict>
            <key>car_04_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{226,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,228}}</string>
                <key>sourceSize</key>
                <string>{226,228}</string>
            </dict>
            <key>card_car_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,350},{144,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,194}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>card_car_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,205},{144,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,194}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>card_car_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,189},{144,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,194}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>card_car_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,184},{144,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,194}}</string>
                <key>sourceSize</key>
                <string>{144,194}</string>
            </dict>
            <key>card_car_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1},{153,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,204}}</string>
                <key>sourceSize</key>
                <string>{153,204}</string>
            </dict>
            <key>count_down_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,158},{156,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,64}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>down_mash_bng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,155},{202,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,33}}</string>
                <key>sourceSize</key>
                <string>{202,33}</string>
            </dict>
            <key>jiangli_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1},{133,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,26}}</string>
                <key>sourceSize</key>
                <string>{133,26}</string>
            </dict>
            <key>kaishiyunbiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,399},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>kaishiyunbiao_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,334},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>likai.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,324},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>mianfeishuanxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,429},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>mianfeishuanxin_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,394},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>qiangduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,324},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>shuaxin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,189},{156,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,64}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>up_mash_bng.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,211},{202,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,52}}</string>
                <key>sourceSize</key>
                <string>{202,52}</string>
            </dict>
            <key>yabiao_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,350},{156,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,64}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>yabiao_jiasu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1},{156,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,64}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>yuanbaoshuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,329},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>yuanbaoshuaxin_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,439},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,459},{165,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,37}}</string>
                <key>sourceSize</key>
                <string>{165,37}</string>
            </dict>
            <key>zhuaohuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,346},{145,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,52}}</string>
                <key>sourceSize</key>
                <string>{145,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_yabiao_common.png</string>
            <key>size</key>
            <string>{1327,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1b6b1d853f076f6bfc81a82fbec2eca:1/1$</string>
            <key>textureFileName</key>
            <string>ui_yabiao_common.png</string>
        </dict>
    </dict>
</plist>
