<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaojiang_card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{207,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{207,270}}</string>
                <key>sourceSize</key>
                <string>{209,272}</string>
            </dict>
            <key>zhaojiang_card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{207,270}}</string>
                <key>sourceSize</key>
                <string>{209,272}</string>
            </dict>
            <key>zhaojiang_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{130,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,41}}</string>
                <key>sourceSize</key>
                <string>{130,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_zhaojiang.png</string>
            <key>size</key>
            <string>{211,589}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d9a2a0ca902de226433c9c4f735c2f5:1/1$</string>
            <key>textureFileName</key>
            <string>ui_zhaojiang.png</string>
        </dict>
    </dict>
</plist>
