<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhengrong_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,370},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>zhengrong_prop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,815},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>zhengrong_prop_inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,651},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zhengrong_prop_inner_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,886},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>zhenrong_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,732},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>zhenrong_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,732},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>zhenrong_btn_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,815},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>zhenrong_btn_zhenqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,883},{126,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,56}}</string>
                <key>sourceSize</key>
                <string>{126,56}</string>
            </dict>
            <key>zhenrong_buzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,883},{59,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,109}}</string>
                <key>sourceSize</key>
                <string>{59,109}</string>
            </dict>
            <key>zhenrong_dengji_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,918},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,38}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>zhenrong_equip_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,466},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>zhenrong_fj.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,906},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>zhenrong_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1},{388,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,368}}</string>
                <key>sourceSize</key>
                <string>{388,368}</string>
            </dict>
            <key>zhenrong_hero_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,309},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>zhenrong_hero_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1},{307,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,47}}</string>
                <key>sourceSize</key>
                <string>{307,47}</string>
            </dict>
            <key>zhenrong_job_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,837},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>zhenrong_job_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,786},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>zhenrong_job_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,837},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>zhenrong_job_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,784},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>zhenrong_job_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,786},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>zhenrong_job_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,784},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>zhenrong_lock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,370},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>zhenrong_lv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,642},{243,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{243,59}}</string>
                <key>sourceSize</key>
                <string>{245,63}</string>
            </dict>
            <key>zhenrong_ng.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,906},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>zhenrong_onekey_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,612},{126,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,56}}</string>
                <key>sourceSize</key>
                <string>{126,56}</string>
            </dict>
            <key>zhenrong_qingyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,888},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>zhenrong_select_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,780},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>zhenrong_shangzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,951},{147,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,64}}</string>
                <key>sourceSize</key>
                <string>{147,64}</string>
            </dict>
            <key>zhenrong_shentong.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,850},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>zhenrong_shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,491},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>zhenrong_skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,370},{131,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>zhenrong_spirit_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,562},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>zhenrong_st_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,872},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>zhenrong_st_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,872},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>zhenrong_st_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,917},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>zhenrong_st_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,888},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>zhenrong_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,988},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>zhenrong_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,642},{308,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,57}}</string>
                <key>sourceSize</key>
                <string>{308,57}</string>
            </dict>
            <key>zhenrong_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,957},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>zhenrong_title_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,653},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>zhenrong_title_jingyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,602},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>zhenrong_title_wuxue.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,551},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>zhenrong_tk.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,669},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>zhenrong_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,133}}</string>
                <key>sourceSize</key>
                <string>{640,133}</string>
            </dict>
            <key>zhenrong_wg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,501},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>zhenrong_wq.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,704},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>zhenrong_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,704},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_zhenrong.png</string>
            <key>size</key>
            <string>{572,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a7813bfd719701ef8aab7ff4cf95120:1/1$</string>
            <key>textureFileName</key>
            <string>ui_zhenrong.png</string>
        </dict>
    </dict>
</plist>
