<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>99_01_qishouren_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,136},{150,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>99_01_qishouren_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{150,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>99_01_qishouren_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{148,132}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{148,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>99_01_qishouren_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{150,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>99_01_qishouren_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{150,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>99_01_qishouren_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>99_01_qishouren_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,136},{140,132}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{140,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>99_01_qishouren_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,270},{138,134}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{138,134}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>xiaotaiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,270},{194,184}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{194,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tajiquanfa_qishou.png</string>
            <key>size</key>
            <string>{490,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd16c0884c62d8f9430bb93750e685fd:1/1$</string>
            <key>textureFileName</key>
            <string>tajiquanfa_qishou.png</string>
        </dict>
    </dict>
</plist>
