<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>83_3_baiguzhua_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{198,184}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{198,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>83_3_baiguzhua_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{220,206}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{220,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>83_3_baiguzhua_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,562},{204,190}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{204,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>83_3_baiguzhua_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,370},{208,190}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{208,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>83_3_baiguzhua_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{234,188}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,68},{234,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>83_3_baiguzhua_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,184}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,70},{244,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>83_3_baiguzhua_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,188},{224,180}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,69},{224,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>83_3_zhuahen.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,396},{252,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{252,28}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiuyinbaiguzhua_mingzhong1.png</string>
            <key>size</key>
            <string>{450,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0af27376038410c8938f8606036b683c:1/1$</string>
            <key>textureFileName</key>
            <string>jiuyinbaiguzhua_mingzhong1.png</string>
        </dict>
    </dict>
</plist>
