<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arxhz2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,660},{54,52}}</string>
                <key>offset</key>
                <string>{3,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,313},{54,52}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{156,362}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{156,362}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{172,376}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{172,376}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,380},{182,376}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{182,376}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{182,380}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{182,380}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,380},{172,374}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{172,374}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,376}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{182,376}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,382}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{182,382}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{62,332}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,9},{62,332}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{60,328}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,12},{60,328}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
            <key>arxhz2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,332},{56,326}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,14},{56,326}}</string>
                <key>sourceSize</key>
                <string>{220,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anranxiaohunzhang2_feixing.png</string>
            <key>size</key>
            <string>{606,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:690b8bfd908f087fe9b994066be54b0e:1/1$</string>
            <key>textureFileName</key>
            <string>anranxiaohunzhang2_feixing.png</string>
        </dict>
    </dict>
</plist>
