<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xkjj_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xkjj_jicg.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{329,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,109}}</string>
                <key>sourceSize</key>
                <string>{329,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiakejinjie_zitiliuguang.png</string>
            <key>size</key>
            <string>{461,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6408420e58f5db43121f7d0b9f46e90b:1/1$</string>
            <key>textureFileName</key>
            <string>xiakejinjie_zitiliuguang.png</string>
        </dict>
    </dict>
</plist>
