<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>133_03_baozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{165,155}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{165,155}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
            <key>133_03_baozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,165}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{173,165}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
            <key>133_03_baozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{161,161}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{161,161}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
            <key>133_03_baozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{171,163}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,163}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
            <key>133_03_baozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,159},{159,157}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{159,157}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
            <key>133_03_baozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,165},{141,121}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{141,121}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
            <key>133_03_baozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,288},{133,101}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{133,101}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
            <key>133_03_baozha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,318},{89,83}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{89,83}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengwutianxiang_mingzhong.png</string>
            <key>size</key>
            <string>{507,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:071d630f4852c111f35454e087f650c1:1/1$</string>
            <key>textureFileName</key>
            <string>fengwutianxiang_mingzhong.png</string>
        </dict>
    </dict>
</plist>
