<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dtzl_mingzhong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,200},{46,14}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,101},{46,14}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>dtzl_mingzhong_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{74,32}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,103},{74,32}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>dtzl_mingzhong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{86,44}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,111},{86,44}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>dtzl_mingzhong_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{86,50}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,116},{86,50}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>dtzl_mingzhong_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,50}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,124},{86,50}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>dtzl_mingzhong_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{84,46}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,134},{84,46}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>dtzl_mingzhong_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,152},{84,36}}</string>
                <key>offset</key>
                <string>{-1,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,146},{84,36}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>dtzl_mingzhong_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,78},{72,24}}</string>
                <key>offset</key>
                <string>{-1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,158},{72,24}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>dtzl_mingzhong_jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tongyongdantizhiliao_mingzhong.png</string>
            <key>size</key>
            <string>{126,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d77a4475ab4636e65f614b80b9fc620:1/1$</string>
            <key>textureFileName</key>
            <string>tongyongdantizhiliao_mingzhong.png</string>
        </dict>
    </dict>
</plist>
