<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigmap_arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,113},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>bigmap_bottom_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,121},{118,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,6}}</string>
                <key>sourceSize</key>
                <string>{118,6}</string>
            </dict>
            <key>bigmap_highlight_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>bigmap_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,178},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bigmap_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,149},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bigmap_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,128}}</string>
                <key>sourceSize</key>
                <string>{640,128}</string>
            </dict>
            <key>bigmap_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,113},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>bigmap_top_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,121},{118,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,6}}</string>
                <key>sourceSize</key>
                <string>{118,6}</string>
            </dict>
            <key>bigmap_top_small_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bigmap_top_small_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bigmap_top_small_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,128},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bigmap_top_small_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,128},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bigmap_top_small_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,130},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>bigmap_top_small_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,130},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>bigmap_top_small_bg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,130},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>bigmap_top_small_bg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,130},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>bigmap_top_small_bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>bigmap_top_small_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,130},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{104,104}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigmap.png</string>
            <key>size</key>
            <string>{986,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b33e4053f054c7c24139edaf889fbb00:1/1$</string>
            <key>textureFileName</key>
            <string>bigmap.png</string>
        </dict>
    </dict>
</plist>
