<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>98_02_shixiangsan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,858},{378,152}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,66},{378,152}}</string>
                <key>sourceSize</key>
                <string>{400,218}</string>
            </dict>
            <key>98_02_shixiangsan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,558},{380,182}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{380,182}}</string>
                <key>sourceSize</key>
                <string>{400,218}</string>
            </dict>
            <key>98_02_shixiangsan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,200}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,218}</string>
            </dict>
            <key>98_02_shixiangsan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{400,202}}</string>
                <key>sourceSize</key>
                <string>{400,218}</string>
            </dict>
            <key>98_02_shixiangsan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{400,176}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{400,176}}</string>
                <key>sourceSize</key>
                <string>{400,218}</string>
            </dict>
            <key>98_02_shixiangsan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{400,172}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{400,172}}</string>
                <key>sourceSize</key>
                <string>{400,218}</string>
            </dict>
            <key>98_02_shixiangsan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{400,162}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{400,162}}</string>
                <key>sourceSize</key>
                <string>{400,218}</string>
            </dict>
            <key>98_02_shixiangsan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,558},{388,126}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{388,126}}</string>
                <key>sourceSize</key>
                <string>{400,218}</string>
            </dict>
            <key>98_02_shixiangsan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,742},{380,114}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,70},{380,114}}</string>
                <key>sourceSize</key>
                <string>{400,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shixiangruanjinsan_feixing.png</string>
            <key>size</key>
            <string>{676,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f3dd69493b9c1573e977234f22a777:1/1$</string>
            <key>textureFileName</key>
            <string>shixiangruanjinsan_feixing.png</string>
        </dict>
    </dict>
</plist>
