<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yinyangdaoluanrenfa_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,427},{455,180}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,88},{455,180}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>yinyangdaoluanrenfa_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,427},{395,156}}</string>
                <key>offset</key>
                <string>{30,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,70},{395,156}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>yinyangdaoluanrenfa_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{423,262}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{423,262}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>yinyangdaoluanrenfa_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{455,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,268}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>yinyangdaoluanrenfa_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{445,206}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{445,206}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>yinyangdaoluanrenfa_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{455,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,268}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>yinyangdaoluanrenfa_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{417,234}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{417,234}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>yinyangdaoluanrenfa_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,884},{393,130}}</string>
                <key>offset</key>
                <string>{31,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,50},{393,130}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>yinyangdaoluanrenfa_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{357,42}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,103},{357,42}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>yiyangdaopomo.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,361},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaobinghengpaipugong_feixing.png</string>
            <key>size</key>
            <string>{816,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd0f9428b5e8df54fb74377128daf956:1/1$</string>
            <key>textureFileName</key>
            <string>xiaobinghengpaipugong_feixing.png</string>
        </dict>
    </dict>
</plist>
