<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_qianghua_bar_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{203,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,34}}</string>
                <key>sourceSize</key>
                <string>{205,34}</string>
            </dict>
            <key>hero_qianghua_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{203,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,32}}</string>
                <key>sourceSize</key>
                <string>{205,34}</string>
            </dict>
            <key>hero_qianghua_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,34}}</string>
                <key>sourceSize</key>
                <string>{205,34}</string>
            </dict>
            <key>hero_qianghua_card_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{173,58}</string>
            </dict>
            <key>hero_qianghua_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{42,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>hero_qianghua_soul_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{173,58}</string>
            </dict>
            <key>hero_qianghua_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,35},{138,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,41}}</string>
                <key>sourceSize</key>
                <string>{140,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_qianghua.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c259704f805e3e3bd11347e25b64e5ad:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hero_qianghua.png</string>
        </dict>
    </dict>
</plist>
