<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingcanduzhang_feixing0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,72}}</string>
                <key>offset</key>
                <string>{-106,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,72}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bingcanduzhang_feixing.png</string>
            <key>size</key>
            <string>{304,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b213164bbdd0c1f8f05937e21c76c543:1/1$</string>
            <key>textureFileName</key>
            <string>bingcanduzhang_feixing.png</string>
        </dict>
    </dict>
</plist>
