<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leiji_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,452},{94,219}}</string>
                <key>offset</key>
                <string>{-5,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{94,219}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
            <key>leiji_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,355}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{220,355}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
            <key>leiji_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{224,341}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{224,341}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
            <key>leiji_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{234,337}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{234,337}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
            <key>leiji_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{240,331}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{240,331}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
            <key>leiji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,345},{250,333}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{250,333}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
            <key>leiji_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{206,299}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{206,299}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
            <key>leiji_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,244},{206,263}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,58},{206,263}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
            <key>leiji_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,359},{210,263}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{210,263}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
            <key>leiji_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,452},{210,217}}</string>
                <key>offset</key>
                <string>{-14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{210,217}}</string>
                <key>sourceSize</key>
                <string>{250,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dantileiji.png</string>
            <key>size</key>
            <string>{1019,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c093f3fca507405c2a6c99532012fcb:1/1$</string>
            <key>textureFileName</key>
            <string>dantileiji.png</string>
        </dict>
    </dict>
</plist>
