<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>94_3_zbao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,171}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,171}}</string>
                <key>sourceSize</key>
                <string>{218,177}</string>
            </dict>
            <key>94_3_zbao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{214,169}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,169}}</string>
                <key>sourceSize</key>
                <string>{218,177}</string>
            </dict>
            <key>94_3_zbao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,173},{208,165}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{208,165}}</string>
                <key>sourceSize</key>
                <string>{218,177}</string>
            </dict>
            <key>94_3_zbao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{198,163}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{198,163}}</string>
                <key>sourceSize</key>
                <string>{218,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>richudongfang_mingzhong.png</string>
            <key>size</key>
            <string>{432,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40b4d58e1b9195c5184360fb85818afa:1/1$</string>
            <key>textureFileName</key>
            <string>richudongfang_mingzhong.png</string>
        </dict>
    </dict>
</plist>
