<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>147_huobao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{159,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{159,112}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>147_huobao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{165,122}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,122}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>147_huobao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{159,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{159,124}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>147_huobao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,126}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{165,126}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nihuoliuxing_mingzhong.png</string>
            <key>size</key>
            <string>{169,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50f702d7058cd1ca11670640d3661bd4:1/1$</string>
            <key>textureFileName</key>
            <string>nihuoliuxing_mingzhong.png</string>
        </dict>
    </dict>
</plist>
