<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengji_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,386},{92,126}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,61},{92,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengji_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{128,154}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,47},{128,154}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{178,170}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{178,170}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengji_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,194}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{178,194}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengji_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,198},{178,186}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{178,186}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengji_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,196}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{178,196}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengji.png</string>
            <key>size</key>
            <string>{362,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b1dd1b0593794788683416b1704661:1/1$</string>
            <key>textureFileName</key>
            <string>shengji.png</string>
        </dict>
    </dict>
</plist>
