<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiangjianguangmang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>qiangjianlizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{83,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiangjian.png</string>
            <key>size</key>
            <string>{189,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89e95cc13ae102007c3922ce74f2e8da:1/1$</string>
            <key>textureFileName</key>
            <string>qiangjian.png</string>
        </dict>
    </dict>
</plist>
