<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>108_3_zhua_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{145,123}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{145,123}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>108_3_zhua_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,165}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{169,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>108_3_zhua_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{147,147}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{147,147}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>108_3_zhua_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{139,135}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,38},{139,135}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yingzhuaqinnashou_mingzhong.png</string>
            <key>size</key>
            <string>{584,169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f91164230799933202126e717a6975aa:1/1$</string>
            <key>textureFileName</key>
            <string>yingzhuaqinnashou_mingzhong.png</string>
        </dict>
    </dict>
</plist>
