<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>87_3_baod_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{104,112}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>87_3_baod_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,126},{110,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{110,114}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>87_3_baod_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{112,122}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>87_3_baod_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{110,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{110,122}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mohewuliang_mingzhong.png</string>
            <key>size</key>
            <string>{226,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32b27236b351ef662265f6bed5a40237:1/1$</string>
            <key>textureFileName</key>
            <string>mohewuliang_mingzhong.png</string>
        </dict>
    </dict>
</plist>
