<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianzhijuqing_zi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,49}}</string>
                <key>sourceSize</key>
                <string>{253,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianzhijuqing_zi4.png</string>
            <key>size</key>
            <string>{257,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75a1d2dc101ef07824a8f51b4b021531:1/1$</string>
            <key>textureFileName</key>
            <string>qianzhijuqing_zi4.png</string>
        </dict>
    </dict>
</plist>
