<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wudi_buff_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{80,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wudi_buff_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{56,88}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{56,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wudi_buff_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,88}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{62,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wudi_buff_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,46},{42,92}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{42,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wudi_buff_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{42,92}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,21},{42,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wudi_buff_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,88}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{64,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wudi_buff_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{56,88}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{56,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wudi_buff.png</string>
            <key>size</key>
            <string>{434,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea8188d69ed9c3e88816a15984af72e2:1/1$</string>
            <key>textureFileName</key>
            <string>wudi_buff.png</string>
        </dict>
    </dict>
</plist>
