<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,393},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guanglizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{234,192}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{234,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lianhuaguangmang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,196},{195,215}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{195,215}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>lianhuaguangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,249}}</string>
                <key>sourceSize</key>
                <string>{256,249}</string>
            </dict>
            <key>lianhuaguangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lianhuatexiao.png</string>
            <key>size</key>
            <string>{496,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccb058ac9f228b37277a7acbd401df51:1/1$</string>
            <key>textureFileName</key>
            <string>lianhuatexiao.png</string>
        </dict>
    </dict>
</plist>
