<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xianzhenqidanxuanwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{98,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xiaozhenqidanbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xiaozhenqidanxinxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaozhenqidan.png</string>
            <key>size</key>
            <string>{254,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35677614f12dc253d111b7e1ef6f9abd:1/1$</string>
            <key>textureFileName</key>
            <string>xiaozhenqidan.png</string>
        </dict>
    </dict>
</plist>
