<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tongyongqishou_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,155},{69,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{69,67}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>tongyongqishou_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{167,165}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{167,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>tongyongqishou_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,165}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{167,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>tongyongqishou_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{165,165}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{165,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>tongyongqishou_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,336},{161,161}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{161,161}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>tongyongqishou_4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{151,151}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{151,151}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tongyongqishou_4.png</string>
            <key>size</key>
            <string>{332,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c97c7b3a2fc1aa2ae64e89c9fe74f4f0:1/1$</string>
            <key>textureFileName</key>
            <string>tongyongqishou_4.png</string>
        </dict>
    </dict>
</plist>
