<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>26_2_jianci.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,64}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{426,64}}</string>
                <key>sourceSize</key>
                <string>{450,64}</string>
            </dict>
            <key>26_2_she0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,180},{172,68}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{172,68}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>26_2_she0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{176,90}}</string>
                <key>offset</key>
                <string>{-32,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{176,90}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>26_2_she0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,124},{234,112}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{234,112}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>26_2_she0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,124},{220,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{220,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>26_2_she0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{228,120}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{228,120}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>26_2_she0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,360},{174,124}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,1},{174,124}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>26_2_she0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,354},{156,114}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,5},{156,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lingshequan_feixing.png</string>
            <key>size</key>
            <string>{390,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857db3be5e83ed457ea19e399b07e372:1/1$</string>
            <key>textureFileName</key>
            <string>lingshequan_feixing.png</string>
        </dict>
    </dict>
</plist>
