<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huixue_buff_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,154},{120,150}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>huixue_buff_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{122,150}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>huixue_buff_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,154},{122,150}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>huixue_buff_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,150}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>huixue_buff_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,150}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>huixue_buff_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,306},{118,150}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{118,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>huixue_buff_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{118,150}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{118,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>huixue_buff_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{120,150}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>huixue_buff_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,154},{122,150}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>huixue_buff_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{122,150}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huixue_buff.png</string>
            <key>size</key>
            <string>{498,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91c66cd532ba4ab23ab3240e8623964a:1/1$</string>
            <key>textureFileName</key>
            <string>huixue_buff.png</string>
        </dict>
    </dict>
</plist>
