<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>47_02_dubaozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{189,164}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{189,164}}</string>
                <key>sourceSize</key>
                <string>{213,178}</string>
            </dict>
            <key>47_02_dubaozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,160}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{209,160}}</string>
                <key>sourceSize</key>
                <string>{213,178}</string>
            </dict>
            <key>47_02_dubaozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{201,174}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,174}}</string>
                <key>sourceSize</key>
                <string>{213,178}</string>
            </dict>
            <key>47_02_dubaozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,168},{197,156}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{197,156}}</string>
                <key>sourceSize</key>
                <string>{213,178}</string>
            </dict>
            <key>47_02_dubaozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{201,144}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{201,144}}</string>
                <key>sourceSize</key>
                <string>{213,178}</string>
            </dict>
            <key>47_02_dubaozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,326},{165,142}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{165,142}}</string>
                <key>sourceSize</key>
                <string>{213,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wudushenzhang_mingzhong.png</string>
            <key>size</key>
            <string>{404,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3a538bf0660f1e0ce430ca745efa7ac:1/1$</string>
            <key>textureFileName</key>
            <string>wudushenzhang_mingzhong.png</string>
        </dict>
    </dict>
</plist>
