<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganluguangmang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ganluquanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganlu.png</string>
            <key>size</key>
            <string>{152,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec5e3ab198c080fbbdbe30316cf44903:1/1$</string>
            <key>textureFileName</key>
            <string>ganlu.png</string>
        </dict>
    </dict>
</plist>
