<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wxdzs_bao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{242,182}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{242,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wxdzs_bao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{230,188}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{230,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wxdzs_bao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,266},{218,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{218,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wxdzs_bao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,454},{216,186}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{216,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wxdzs_logo_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,262}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,66},{480,262}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiemian_biaotidonghua.png</string>
            <key>size</key>
            <string>{484,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39b835b307a439c49a2ebe609861c5f:1/1$</string>
            <key>textureFileName</key>
            <string>jiemian_biaotidonghua.png</string>
        </dict>
    </dict>
</plist>
