<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>94_2_feizhen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{292,308}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{292,308}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>94_2_riguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,342}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{354,342}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>94_2_sichou_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,495},{38,58}}</string>
                <key>offset</key>
                <string>{5,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,290},{38,58}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,924},{62,84}}</string>
                <key>offset</key>
                <string>{16,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,264},{62,84}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,547},{56,116}}</string>
                <key>offset</key>
                <string>{14,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,232},{56,116}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,495},{50,158}}</string>
                <key>offset</key>
                <string>{11,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,190},{50,158}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,425},{68,198}}</string>
                <key>offset</key>
                <string>{-4,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,149},{68,198}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,640},{62,240}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,108},{62,240}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,555},{40,284}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{40,284}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,547},{40,320}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{40,320}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,882},{42,334}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,13},{42,334}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,346},{42,334}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{42,334}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,252},{42,334}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{42,334}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,588},{40,334}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{40,334}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,588},{40,334}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{40,334}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,968},{40,334}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{40,334}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_sichou_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,926},{40,334}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{40,334}}</string>
                <key>sourceSize</key>
                <string>{100,350}</string>
            </dict>
            <key>94_2_taiyangtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{248,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{248,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>94_3_zbao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,252},{212,171}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,171}}</string>
                <key>sourceSize</key>
                <string>{218,177}</string>
            </dict>
            <key>94_3_zbao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{214,169}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,169}}</string>
                <key>sourceSize</key>
                <string>{218,177}</string>
            </dict>
            <key>94_3_zbao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{208,165}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{208,165}}</string>
                <key>sourceSize</key>
                <string>{218,177}</string>
            </dict>
            <key>94_3_zbao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,682},{198,163}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{198,163}}</string>
                <key>sourceSize</key>
                <string>{218,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>richudongfang_feixing.png</string>
            <key>size</key>
            <string>{632,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1544f0fc47191eb50b280828cb994f07:1/1$</string>
            <key>textureFileName</key>
            <string>richudongfang_feixing.png</string>
        </dict>
    </dict>
</plist>
