<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wxdzs_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,262}}</string>
                <key>offset</key>
                <string>{16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,66},{474,262}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_dfy.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1566},{36,18}}</string>
                <key>offset</key>
                <string>{-57,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,119},{36,18}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1904},{64,58}}</string>
                <key>offset</key>
                <string>{200,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{504,109},{64,58}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1904},{68,82}}</string>
                <key>offset</key>
                <string>{202,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{504,80},{68,82}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,106},{118,82}}</string>
                <key>offset</key>
                <string>{172,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,77},{118,82}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1566},{158,76}}</string>
                <key>offset</key>
                <string>{138,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,78},{158,76}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1644},{158,54}}</string>
                <key>offset</key>
                <string>{126,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,79},{158,54}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{126,44}}</string>
                <key>offset</key>
                <string>{84,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,80},{126,44}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1904},{80,44}}</string>
                <key>offset</key>
                <string>{49,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,88},{80,44}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1904},{78,34}}</string>
                <key>offset</key>
                <string>{177,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{474,145},{78,34}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1904},{88,76}}</string>
                <key>offset</key>
                <string>{191,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,147},{88,76}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,190},{92,82}}</string>
                <key>offset</key>
                <string>{189,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,165},{92,82}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,48},{122,56}}</string>
                <key>offset</key>
                <string>{149,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,210},{122,56}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_lg2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,190},{82,40}}</string>
                <key>offset</key>
                <string>{116,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,232},{82,40}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1938},{86,36}}</string>
                <key>offset</key>
                <string>{-53,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,90},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1790},{88,36}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,91},{88,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1700},{88,38}}</string>
                <key>offset</key>
                <string>{-54,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,89},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1944},{88,38}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,90},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1904},{88,38}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,90},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1944},{88,38}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,90},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1904},{88,38}}</string>
                <key>offset</key>
                <string>{-54,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,90},{88,38}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1900},{86,36}}</string>
                <key>offset</key>
                <string>{-53,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,92},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1862},{86,36}}</string>
                <key>offset</key>
                <string>{-52,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,92},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1824},{86,36}}</string>
                <key>offset</key>
                <string>{-52,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,92},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1786},{86,36}}</string>
                <key>offset</key>
                <string>{-53,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,91},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_piaofa_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1790},{86,36}}</string>
                <key>offset</key>
                <string>{-53,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,91},{86,36}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_point1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1700},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{84,88}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>wxdzs_sc_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,706},{428,178}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,70},{428,178}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{428,180}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,69},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{428,180}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,70},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{428,180}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,71},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,274},{430,178}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,73},{430,178}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{428,180}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,72},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{430,180}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,72},{430,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{430,180}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,71},{430,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1136},{428,180}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,70},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{430,180}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,69},{430,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{428,180}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,69},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_sc_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{428,180}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,68},{428,180}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiemian_biaotidonghua_xunhuan.png</string>
            <key>size</key>
            <string>{614,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a79bd48be1c4d315cae6a3474602cfc:1/1$</string>
            <key>textureFileName</key>
            <string>jiemian_biaotidonghua_xunhuan.png</string>
        </dict>
    </dict>
</plist>
