<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ldwx_logo_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,220}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,68},{480,220}}</string>
                <key>sourceSize</key>
                <string>{672,336}</string>
            </dict>
            <key>wxdzs_bao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{242,182}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{242,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wxdzs_bao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{230,188}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{230,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wxdzs_bao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,224},{218,186}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{218,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wxdzs_bao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,412},{216,186}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{216,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luandouwuxia.png</string>
            <key>size</key>
            <string>{484,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b33f84f7fb093cc68387542b15295d3:1/1$</string>
            <key>textureFileName</key>
            <string>luandouwuxia.png</string>
        </dict>
    </dict>
</plist>
