<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21_2_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,470},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>21_2_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,246}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_jbao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,836},{168,144}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{168,144}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>21_2_jbao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,246},{206,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,33},{206,142}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>21_2_jbao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,864},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,55},{136,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>21_2_jbao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,864},{28,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,91},{28,26}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>21_2_jg_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,358},{218,114}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,61},{218,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_jg_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,190},{166,236}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,20},{166,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_jg_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{234,186}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{234,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_jg_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,762},{172,166}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,52},{172,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_jg_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,250},{218,114}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,70},{218,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_jg_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{256,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{256,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_jg_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{236,242}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,33},{236,242}}</string>
                <key>sourceSize</key>
                <string>{314,302}</string>
            </dict>
            <key>21_2_ying_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,676},{184,186}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{184,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_ying_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,474},{202,200}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{202,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_ying_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,676},{158,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,34},{158,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_ying_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{248,172}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,43},{248,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_ying_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{254,230}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{254,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_ying_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,474},{166,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{166,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>21_2_ying_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,506},{166,254}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,1},{166,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianmo_feixing.png</string>
            <key>size</key>
            <string>{737,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20ccf8c93433280b4df44246295acbb9:1/1$</string>
            <key>textureFileName</key>
            <string>jianmo_feixing.png</string>
        </dict>
    </dict>
</plist>
