<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>43_2_jian_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{46,214}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{46,214}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>43_2_jian_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,198}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{54,198}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taijijian_feixing.png</string>
            <key>size</key>
            <string>{58,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d4133407ddff34af5a4a6d7dfb1fd38:1/1$</string>
            <key>textureFileName</key>
            <string>taijijian_feixing.png</string>
        </dict>
    </dict>
</plist>
