<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>53_02_yinyangdaohen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,729},{455,198}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{455,198}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>53_02_yinyangdaohen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,392},{395,166}}</string>
                <key>offset</key>
                <string>{30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,71},{395,166}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>53_02_yinyangdaohen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{455,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,268}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>53_02_yinyangdaohen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{455,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,268}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>53_02_yinyangdaohen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,272},{455,232}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{455,232}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>53_02_yinyangdaohen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{455,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,268}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>53_02_yinyangdaohen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{455,244}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{455,244}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>53_02_yinyangdaohen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,560},{395,152}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{395,152}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>53_02_yinyangdaohen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,272},{405,118}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{405,118}}</string>
                <key>sourceSize</key>
                <string>{455,268}</string>
            </dict>
            <key>53_02_yinyanghen.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,929},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yinyangdaoluanrenfa_feixing.png</string>
            <key>size</key>
            <string>{916,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06fa4aa83575371265befe509de26147:1/1$</string>
            <key>textureFileName</key>
            <string>yinyangdaoluanrenfa_feixing.png</string>
        </dict>
    </dict>
</plist>
