<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>48_2_huo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{170,252}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{170,252}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>48_2_huo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,252}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{170,252}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>48_2_huo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{168,252}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{168,252}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>48_2_lun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{170,170}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{170,170}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>48_2_lun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{60,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wulundazhuan_feixing.png</string>
            <key>size</key>
            <string>{174,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:543ca864c558f4225643ed6745fa539b:1/1$</string>
            <key>textureFileName</key>
            <string>wulundazhuan_feixing.png</string>
        </dict>
    </dict>
</plist>
