<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiemian_limochou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,152}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{206,152}}</string>
                <key>sourceSize</key>
                <string>{224,162}</string>
            </dict>
            <key>jiemian_nanhaieshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{144,134}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{144,134}}</string>
                <key>sourceSize</key>
                <string>{164,142}</string>
            </dict>
            <key>jiemian_nanxiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{96,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{96,138}}</string>
                <key>sourceSize</key>
                <string>{100,144}</string>
            </dict>
            <key>jiemian_nvxiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,148},{96,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiemian_dadoudonghua.png</string>
            <key>size</key>
            <string>{346,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcd2a2227aea19b719a9cf7cab55bfbe:1/1$</string>
            <key>textureFileName</key>
            <string>jiemian_dadoudonghua.png</string>
        </dict>
    </dict>
</plist>
