<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xishou_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{86,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{86,79}}</string>
                <key>sourceSize</key>
                <string>{150,93}</string>
            </dict>
            <key>xishou_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,67},{74,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,12},{74,71}}</string>
                <key>sourceSize</key>
                <string>{150,93}</string>
            </dict>
            <key>xishou_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,143},{68,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{68,67}}</string>
                <key>sourceSize</key>
                <string>{150,93}</string>
            </dict>
            <key>xishou_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{58,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,16},{58,63}}</string>
                <key>sourceSize</key>
                <string>{150,93}</string>
            </dict>
            <key>xishou_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{108,63}}</string>
                <key>sourceSize</key>
                <string>{150,93}</string>
            </dict>
            <key>xishou_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{106,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{106,53}}</string>
                <key>sourceSize</key>
                <string>{150,93}</string>
            </dict>
            <key>xishou_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,148},{106,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{106,49}}</string>
                <key>sourceSize</key>
                <string>{150,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fushidu_qishou.png</string>
            <key>size</key>
            <string>{177,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc870c084fbd25051a79f74d81fcef7b:1/1$</string>
            <key>textureFileName</key>
            <string>fushidu_qishou.png</string>
        </dict>
    </dict>
</plist>
