<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>84_2_feng_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,172},{224,170}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{224,170}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>84_2_feng_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{226,162}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{226,162}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>84_2_feng_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{230,154}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{230,154}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>84_2_feng_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,344},{226,154}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{226,154}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>84_2_feng_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{230,168}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{230,168}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>84_2_feng_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,174}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{224,174}}</string>
                <key>sourceSize</key>
                <string>{256,200}</string>
            </dict>
            <key>84_2_tu1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,300},{124,50}}</string>
                <key>offset</key>
                <string>{12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,96},{124,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>84_2_tu1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{128,114}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{128,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>84_2_tu1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,876},{98,122}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{98,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>84_2_tu1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,876},{76,126}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{76,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>84_2_tu1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,178},{54,120}}</string>
                <key>offset</key>
                <string>{-37,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{54,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>84_2_tu1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,426},{52,108}}</string>
                <key>offset</key>
                <string>{-41,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{52,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>84_2_tu2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,536},{76,50}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,89},{76,50}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>84_2_tu2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,830},{186,116}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{186,116}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>84_2_tu2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{210,128}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{210,128}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>84_2_tu2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{220,138}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{220,138}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>84_2_tu2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,500},{224,138}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{224,138}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>84_2_tu2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,214},{226,138}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{226,138}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>84_2_tu2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,442},{224,138}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{224,138}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>84_2_yanchen_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,738},{190,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{190,68}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>84_2_yanchen_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,668},{190,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{190,68}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>84_2_yanchen_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,782},{186,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{186,68}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>84_2_yanchen_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,712},{190,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{190,68}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>84_2_yanchen_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,782},{188,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{188,68}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>84_2_yanchen_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,808},{190,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{190,66}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>84_2_yanchen_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,640},{190,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{190,70}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>84_2_yanchen_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,638},{190,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{190,68}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuangfengzhangfa_feixing.png</string>
            <key>size</key>
            <string>{596,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70ab0c1cb185c055e4e1c32b7f312bde:1/1$</string>
            <key>textureFileName</key>
            <string>kuangfengzhangfa_feixing.png</string>
        </dict>
    </dict>
</plist>
