<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bw_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,228}}</string>
                <key>sourceSize</key>
                <string>{427,228}</string>
            </dict>
            <key>bw_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,262},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>bw_wing_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,262},{119,183}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{119,183}}</string>
                <key>sourceSize</key>
                <string>{125,191}</string>
            </dict>
            <key>bw_wing_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{263,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{263,258}}</string>
                <key>sourceSize</key>
                <string>{269,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhandoushengli.png</string>
            <key>size</key>
            <string>{497,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee3bf2239c6d3bc1788b2997e26a6619:1/1$</string>
            <key>textureFileName</key>
            <string>zhandoushengli.png</string>
        </dict>
    </dict>
</plist>
