<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>87_2_beijingban.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>87_2_bgd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,334}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{352,334}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mohewuliang_feixing_beijing.png</string>
            <key>size</key>
            <string>{390,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2e2cf66f84c57adea758bfd52cd990c:1/1$</string>
            <key>textureFileName</key>
            <string>mohewuliang_feixing_beijing.png</string>
        </dict>
    </dict>
</plist>
