<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>114_01_baoqi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,106},{158,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,115}}</string>
                <key>sourceSize</key>
                <string>{160,115}</string>
            </dict>
            <key>114_01_baoqi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{158,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{158,113}}</string>
                <key>sourceSize</key>
                <string>{160,115}</string>
            </dict>
            <key>114_01_baoqi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,223},{158,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{158,113}}</string>
                <key>sourceSize</key>
                <string>{160,115}</string>
            </dict>
            <key>114_01_baoqi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,242},{146,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{146,105}}</string>
                <key>sourceSize</key>
                <string>{160,115}</string>
            </dict>
            <key>114_01_baoqi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,349},{72,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,32},{72,51}}</string>
                <key>sourceSize</key>
                <string>{160,115}</string>
            </dict>
            <key>114_01_xiantiaoxishou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{187,102}}</string>
                <key>sourceSize</key>
                <string>{191,104}</string>
            </dict>
            <key>114_01_xiantiaoxishou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{187,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{187,102}}</string>
                <key>sourceSize</key>
                <string>{191,104}</string>
            </dict>
            <key>114_01_xiantiaoxishou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{187,102}}</string>
                <key>sourceSize</key>
                <string>{191,104}</string>
            </dict>
            <key>114_01_xiantiaoxishou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{187,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{187,100}}</string>
                <key>sourceSize</key>
                <string>{191,104}</string>
            </dict>
            <key>114_01_xiantiaoxishou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{165,88}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{165,88}}</string>
                <key>sourceSize</key>
                <string>{191,104}</string>
            </dict>
            <key>114_01_xiantiaoxishou_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,162},{153,78}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{153,78}}</string>
                <key>sourceSize</key>
                <string>{191,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liumaishenjian_qishou.png</string>
            <key>size</key>
            <string>{506,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd4eb1dd43ff8d64866085cab28f15d4:1/1$</string>
            <key>textureFileName</key>
            <string>liumaishenjian_qishou.png</string>
        </dict>
    </dict>
</plist>
